<div class="bg-details b-b wrapper-sm text-primary-dker">
    <h1 class="m-n font-thin h3"><i class="icon-bulb "></i> &nbsp; New Voucher Entry</h1>
</div>

<div class="wrapper-md">
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>

    <div class="panel wrapper" ng-hide="isLoading">
        <div class="m-b">
            <form role="form" name="step1" ng-controller="VoucherEntryNewCtrl" ng-submit="AddVoucher()" class="form-validation" method="post">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Branch</label>
                            <div class="col-sm-10">
                                <select ng-model="VmVoucher.Voucher.AcademicBranchId" class="form-control m-b ng-pristine ng-invalid ng-invalid-required ng-dirty ng-touched"
                                        ng-options="c.Key as c.Value for c in VmVoucher.Voucher.AcademicBranchList"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Voucher Date:</label>
                            <div class="col-sm-10">
                                <div ng-controller="DatepickerDemoCtrl">
                                    <div class="input-group ">
                                        <input type="text" value="{{VmVoucher.Voucher.VoucherDate | date:'dd-MMMM-yyyy'}}" class="form-control  m-b" datepicker-popup="{{format}}" ng-model="VmVoucher.Voucher.VoucherDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group pull-left">
                            <label><input type="radio" ng-model="VmVoucher.Voucher.IsActive" value="1">&nbsp;<i class="fa fa-check text-success "></i>Active&nbsp;&nbsp;</label>
                            <label><input type="radio" ng-model="VmVoucher.Voucher.IsActive" value="0">&nbsp;<i class="fa fa-times text-danger text"></i>InActive </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Narration:</label>
                            <div class="col-sm-10">
                                <input data-ng-model="VmVoucher.Voucher.Narration" ng-required="true" placeholder="Narration" type="text" class="form-control  m-b">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-success">
                            <div class="panel-heading font-bold"><b>Income:</b></div>
                            <div class="panel-body">
                                <div class="row">
                                    <table class="table table-striped b-t b-light" ng-table>
                                        <thead>
                                            <tr>
                                                <th>Head</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-show="VmVoucher.IncomeList.length">
                                            <tr ng-repeat="x in VmVoucher.IncomeList">
                                                <td><label>{{ x.HeadName }}</label></td>
                                                <td><input type="text" data-ng-model="x.Amount"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-success">
                            <div class="panel-heading font-bold"><b>Expense:</b></div>
                            <div class="panel-body">
                                <div class="row">
                                    <table class="table table-striped b-t b-light" ng-table>
                                        <thead>
                                            <tr>
                                                <th>Head</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-show="VmVoucher.ExpenseList.length">
                                            <tr ng-repeat="x in VmVoucher.ExpenseList">
                                                <td><label>{{ x.HeadName }}</label></td>
                                                <td><input type="text" data-ng-model="x.Amount"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12 ">
                            <a ui-sref="app.voucherEntry.list" class="btn btn-default pull-left"><i class="icon-action-undo"></i> &nbsp;Back to List</a>
                            <button type="submit" class="btn btn-success pull-right">Save</button>
                         </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
