<style>
    @media print {
        .ta-scroll-window.ng-scope.ta-text.ta-editor.form-control {
            border: 0px !important;
        }
    }
</style>

<div class="bg-details b-b wrapper-sm text-primary-dker">
    <h1 class="m-n font-thin h3"><i class="icon-credit-card "></i> &nbsp; Edit Certificate Print</h1>
</div>

<div class="wrapper-md">

    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>

    <div class="panel wrapper" ng-hide="isLoading">
        <div class="m-b">
            <form role="form" name="step1" ng-controller="CertificatePrintEditCtrl" ng-submit="UpdateCertificatePrint()" class="form-validation" method="post">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group pull-left">
                            <label>Certificate Type: </label>
                            <select ng-model="certificatePrintModel.CertificatePrintTypeId" class="form-control m-b" ng-required="true" ng-options="c.Key as c.Value for c in certificatePrintModel.CertificatePrintTypeList">
                                <option value="">Please Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label> &nbsp;</label>
                        <div class="form-group pull-left">
                            <label><input type="radio" ng-model="certificatePrintModel.IsActive" value="1">&nbsp;<i class="fa fa-check text-success "></i>Active&nbsp;&nbsp;</label>
                            <label><input type="radio" ng-model="certificatePrintModel.IsActive" value="0">&nbsp;<i class="fa fa-times text-danger text"></i>InActive </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group pull-left">
                            <label>Certificate Body: </label>
                            <div lazy-load="textAngular">
                                <div text-angular id="divToPrint" ng-model="certificatePrintModel.Body" class="btn-groups" ng-required="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success">Update</button>
                        <button class="btn btn-sm btn-warning pull-right " type="button" ng-click="Print()"><span class="text-dark"><i class="fa fa-print"></i> Print</span> </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

