<div class="wrapper-md" ng-controller="CertificatePrintListCtrl">
    <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>
    <div class="panel panel-default" ng-hide="isLoading">
        <div class="row wrapper">
            <div class="col-sm-3 m-b-xs">
                <button class="btn btn-sm btn-success" ui-sref="app.certificatePrint.create">+ ADD NEW</button>
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" ng-change="search()" ng-model="query" placeholder="search">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <table class="table table-striped b-t b-light">
            <thead>
                <tr>
                    <th>Certificate Type</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in certificatePrintWithListModel.SearchData| orderBy:'-Id' | filter:query">
                    <td>{{ x.CertificatePrintType.Name }}</td>
                    <td>
                        <i ng-hide="x.IsActive==true" class="fa fa-times text-danger text" tooltips title="InActive"></i>
                        <i ng-if="x.IsActive==true" class="fa fa-check text-success" tooltips title="Active"></i>
                    </td>
                    <td>
                        <a ui-sref="app.certificatePrint.edit({certificateprintId:x.Id})" class="text-primary text-md" tooltips title="Print"><i class="fa fa-print "></i></a> &nbsp;&nbsp;
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr></tr>
            </tfoot>
        </table>
    </div>
</div>
