<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Institute</h1>
</div>

<div class="wrapper-md" ng-controller="SettingsInstituteCurrentCtrl">
    <!-- toaster directive -->
    <toaster-container toaster-options="{'deeppition-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <!-- / toaster directive -->
    <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>

    <form role="form" class="form-validation" ng-submit="Update()" ng-hide="isLoading">

        <tabset justified="false" class="tab-container">
            <tab heading="Employee Info">
                <tab-heading>
                    General Information
                </tab-heading>
                
                

                
                <div class="row">
                    <div class="col-sm-12">
                        <label>WelCome Text</label>
                        <div lazy-load="textAngular">
                            <div text-angular ng-model="Institute.WelComeText" class="btn-groups" ng-required="true"></div>
                        </div>
                    </div>
                </div>
                <br />
                <!--<div class="row">
                    <div class="col-sm-12">
                        <label>Infractructure Text</label>
                        <div lazy-load="textAngular">
                            <div text-angular ng-model="Institute.InfractructureText" class="btn-groups" ng-required="true"></div>
                        </div>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-sm-12">
                        <label>MasterPlan Text</label>
                        <div lazy-load="textAngular">
                            <div text-angular ng-model="Institute.MasterPlanText" class="btn-groups" ng-required="true"></div>
                        </div>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-sm-12">
                        <label>UsefulLink Text</label>
                        <div lazy-load="textAngular">
                            <div text-angular ng-model="Institute.UsefulLinkText" class="btn-groups" ng-required="true"></div>
                        </div>
                    </div>
                </div>-->

             
                <hr />
                <div class="row">
                    <div class="col-sm-6 ">
                        <a ui-sref="app.applicationsettings.Institute" class="btn btn-default  "><i class="icon-action-undo"></i> &nbsp;Back to List</a>
                    </div>
                    <div class="col-sm-6  pull-right">

                        <button type="submit" class="btn btn-addon btn-primary pull-right">
                            <i class="glyphicon glyphicon-floppy-saved"></i>SAVE
                        </button>
                    </div>
                </div>
            </tab>
            

        </tabset>

    </form>



</div>

<script type="text/ng-template" id="myModalContent.html">
    <div ng-controller="ModalDemoCtrl" class="panel-default b-a no-border">

        <div class="modal-body">

            <div class="row">
                <div class="col-lg-8">
                    <img onerror="$(this).attr('src', 'img/404_error_image.png');" width="550px" ng-src="{{ apiUrlPrefix+'api/image?id='+ selectedImage.Id +'&refcode=Institute_Landing_Slider'  }}" />

                </div>
                <div class="col-lg-4">
                    <form role="form" class="form-validation">
                        <div class="row">
                            <div class="col-sm-12">
                                <button ng-click="cancel()" class="close" type="button">×</button>
                            </div>
                        </div>
                        <div class="row">


                            <div class="col-sm-12">
                                <div class="form-group">
                                    <h4> Caption</h4>
                                    <p ng-show="!item.editing" ng-dblclick="item.editing=true" class="b wrapper-md deepp-rlt bg-light text-lt r r-2x">
                                        <span class="arrow top pull-left arrow-light"></span>
                                        {{ selectedImage.ImageCaption? selectedImage.ImageCaption : 'Add Caption' }}
                                    </p>


                                </div>
                            </div>
                            <div class="col-sm-12" ng-show="item.editing">
                                <div class="form-group">
                                    <textarea placeholder="Caption" rows="2" class="form-control" data-ng-model="selectedImage.ImageCaption" ui-focus="item.editing"></textarea>
                                </div>
                            </div>

                        </div>



                        <div class="row">
                            <div class="col-sm-12 ">
                                <button type="button" class="btn btn-addon btn-danger" ng-click="remove()">
                                    <i class="fa fa-trash-o"></i>REMOVE IMAGE
                                </button>
                                <button ng-show="item.editing" class="btn btn-primary pull-right  pull-right" ng-click="item.editing=false">Update</button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>


        </div>

    </div>
</script>