<div class="bg-info-lter b-b wrapper-sm text-dark-dk">
    <h3 class="m-n font-thin"><i class="icon-briefcase"></i>&nbsp; Fees Generate Config List</h3>
</div>
<div class="wrapper-md" ng-controller="FeesGenerateConfigPanelCtrl">
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>

    <div class="panel wrapper" ng-hide="isLoading">
        <div class="m-b">
            <form role="form" name="step1" class="form-validation" method="post" autocomplete="off">
                <tabset>
                    <tab ng-repeat="workspace in workspaces track by $index"
                         active=workspace.active>
                        <!--<tab-heading>
                            <span ng-show="!workspacePanel[{{workspace.id}}]">{{workspace.name}}</span>
                            <span ng-show="workspacePanel[{{workspace.id}}]">
                            <input type="text" class="text-left" value="{{workspace.name}}" ng-model="workspace.name" /></span>&nbsp;
                            <span ng-show="workspace.active && workspacePanel[{{workspace.id}}]" ng-click="saveTab(workspace)" class="glyphicon glyphicon-saved" style="cursor: pointer;"></span>&nbsp;
                            <span ng-show="workspace.active && workspacePanel[{{workspace.id}}]" ng-click="cancelTab(workspace.id)" class="glyphicon glyphicon-remove-sign" style="cursor: pointer;"></span>&nbsp;
                            <span ng-show="workspace.active && !workspacePanel[{{workspace.id}}]" ng-click="editTab(workspace.id)" class="glyphicon glyphicon-edit" style="cursor: pointer;"></span>&nbsp;
                            <span ng-show="workspace.active && !workspacePanel[{{workspace.id}}]" ng-click="deleteTab(workspace.id)" class="glyphicon glyphicon-remove" style="cursor: pointer;"></span>
                        </tab-heading>-->
                        <div class="row">
                            <div class="panel-body wrapper-sm">
                                <div class="row wrapper">
                                    <div class="col-sm-12">
                                        <button class="btn btn-sm btn-success pull-right" ui-sref="app.feesAutoGenerate.new">+ ADD NEW</button>
                                    </div>
                                </div>
                                <table class="table table-striped b-t b-light" ng-table>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Remarks</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-show="workspace.feesAutoGenConfList.length">
                                        <tr ng-repeat="x in workspace.feesAutoGenConfList">
                                            <td><label><input type="hidden" value="{{ x.id }}">{{ x.name }}</label></td>
                                            <td><label>{{ x.description }}</label></td>
                                            <td><a ui-sref="app.feesAutoGenerate.edit({feesAutoGenerateId:x.id})" class="text-primary text-md glyphicon glyphicon-edit" style="cursor: pointer;"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </tab>
                    <tab ng-click="addWorkspace()">
                        <tab-heading>
                            <span class="glyphicon glyphicon-plus"> </span>
                        </tab-heading>
                    </tab>
                </tabset>

            </form>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div ng-controller="ModalDemoCtrl" class="panel-default b-a no-border">
        <div class="modal-header dialog-header-info">
            <button ng-click="cancel()" class="close" type="button">×</button>
            <h4 class="modal-title ng-binding">
                <span class="glyphicon glyphicon-check"></span> Type
            </h4>
        </div>
        <div class="modal-body">

            <div class="row">

                <div class="col-lg-12">
                    <form role="form" class="form-validation" ng-submit="ok()">

                        <div class="row">


                            <div class="col-sm-12">
                                <div class="form-group">
                                    <h4> Type Name</h4>

                                    <input class="form-control" data-ng-model="selectedAuthor.Name" required placeholder="Name" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">


                            <div class="col-sm-12">
                                <div class="form-group">
                                    <h4> Description</h4>

                                    <input class="form-control" data-ng-model="selectedAuthor.Description" required placeholder="Description" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 ">
                                <button type="submit" class="btn btn-primary pull-right  pull-right">Save</button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>


        </div>

    </div>
</script>