<div class="bg-details b-b wrapper-sm text-primary-dker">
    <h1 class="m-n font-thin h3"><i class="icon-bubble "></i> &nbsp; Change Password</h1>
</div>

<div class="wrapper-md">

    <toaster-container toaster-options="{'deeppition-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>

    <form role="form" name="step1" ng-controller="ChangePasswordCtrl" ng-submit="ChangePassword()" class="form-validation" method="deeppt">
        <div class="panel panel-warning">
            <div class="panel-body">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Old Password</label>
                        <input data-ng-model="changePasswordModel.PasswordHash" placeholder="Old Password" ng-required="true" type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input data-ng-model="changePasswordModel.NewPassword" placeholder="New Password" ng-required="true" type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input data-ng-model="changePasswordModel.ConfirmPassword" placeholder="Confirm New Password" ng-required="true" type="password" class="form-control">
                    </div>
                </div>

                <div style="margin-bottom:10px;">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Update</button>
                        <button type="submit" ui-sref="app.dashboard" class="btn btn-warning">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
        </div>

