<header class="navbar containerMain" role="banner">
    <div class="row">
        <div class="col-md-12">
            <img src="~/assets/img/bnr.png" style="width:100%" />
        </div>
    </div>
</header>
<nav class="navbar navbar-inverse" role="navigation" style="margin-top:5px; margin-bottom:10px;">
    <div class="navbar-header" style="width:90%; margin-left:auto;margin-right:auto;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse containerMain menuHeader" id="horizontal-navbar">

        <ul class="nav navbar-nav">
            <li class="active"><a href="layout-horizontal.htm"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li><a href="index.htm"><i class="fa fa-columns"></i> <span>Layout</span></a></li>
            <li><a href="index.htm"><i class="fa fa-group"></i> <span>Members</span></a></li>
            <li><a href="index.htm"><i class="fa fa-pencil"></i> <span>Components</span></a></li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-cog"></i> <span>Settings <i class="fa fa-angle-down"></i></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Menu Item 1</a></li>
                    <li><a href="#">Menu Item 2</a></li>
                    <li><a href="#">Menu Item 3</a></li>
                    <li><a href="#">Menu Item 4</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li>
                <a href="~/Account/Login">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-sign-in fa-stack-1x"></i>
                    </span>
                    Sign in
                </a>
            </li>
        </ul>
    </div>
</nav>