
@model IEnumerable<pnsms.Entities.Models.Teacher>


@foreach (var item in Model)
{
    <article class="post-702">
        <div class="date-time">
            <span>Dec</span>
            <strong>15</strong>
        </div>
        <section>
            <div class="text">

                <span>
                    <a rel="tag" href="http://uoce.chimpgroup.com/event-category/raoundtable/">RAOUNDTABLE</a><a rel="tag" href="http://uoce.chimpgroup.com/event-category/science/">Science</a>
                </span>

                <h2>
                    <a href="http://uoce.chimpgroup.com/events/international-conference-on-environmental-prism/">
                        International Conference on environmental pris
                    </a>
                </h2>
                <ul class="post-options">

                    <li>
                        <i class="icon-target5"></i>
                        <span class="cs-event-time">All Day                                                            </span>
                    </li>
                    <li>
                        <i class="icon-location6"></i>
                        179 York Way, Holloway, N7 9LN
                    </li>

                </ul>
                <ul class="categories">
                    <li>
                        <i class="icon-users5"></i>Speakers:
                        REGINALD PHILIP

                    </li>
                </ul>
            </div>
            <div class="right-side">
                <a class="cancle-btn" href="#">Closed</a>
            </div>
        </section>
    </article>
}

