<div class="bg-info-lter b-b wrapper-sm text-dark-dk">
    <h1 class="m-n font-thin h3"><i class="icon-speech "></i> &nbsp; SMS Template</h1>
</div>

<div class="wrapper-md" ng-controller="SmsTemplateListCtrl">


    <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>
    <div class="panel panel-default" ng-hide="isLoading">

        <div class="row wrapper">
            <div class="col-sm-3 m-b-xs">

                <a href="" class="btn btn-sm btn-info btn-addon" ui-sref="app.smsTemplate.create"><i class="fa fa-plus fa-fw m-r-xs"></i> ADD NEW</a>
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" ng-change="search()" ng-model="query" placeholder=" search">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <table class="table table-striped b-t b-light">
            <thead>
                <tr>
                    <th style="width:55px;">
                        <span class="Id"> &nbsp;  </span>
                    </th>
                    <th><span class="Name">Name&nbsp;<a ng-click="sort_by('Name')"><i class="fa fa-sort"></i></a> </span></th>
                    <th><span class="SmsCount">Sms Count&nbsp;<a ng-click="sort_by('SmsCount')"><i class="fa fa-sort"></i></a> </span></th>
                    <!--<th><span class="AcademicBranch">Branch&nbsp; <a ng-click="sort_by('AcademicBranch')"><i class="fa fa-sort"></i></a> </span></th>-->
                    <th><span class="IsActive">IsActive &nbsp;<a ng-click="sort_by('IsActive')"><i class="fa fa-sort"></i></a></span></th>
                    <th style="width:50px;"></th>
                </tr>
            </thead>
            <tbody>



                <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse" ng-include='getTemplate(item)'></tr>

            </tbody>
        </table>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <small class="text-muted inline m-t-sm m-b-sm">showing {{currentPage*itemsPerPage+1}}-{{(currentPage*(itemsPerPage)+itemsPerPage)>items.length?items.length:(currentPage*(itemsPerPage)+itemsPerPage)}} of {{items.length}} items</small>
                </div>

                <div class="col-sm-8 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none ng-isolate-scope ng-valid">
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a>
                        </li>
                        <li ng-repeat="n in range(pagedItems.length)"
                            ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                            <a href ng-bind="n + 1">1</a>
                        </li>
                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                            <a href ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>


    <script type="text/ng-template" id="display">

        <td><span></span></td>
        <td><span><a ui-sref="app.smsTemplate.edit({templateId:item.Id})" class="text-primary text-md">{{item.Name}}</a>  </span></td>
        <td><span>{{item.SmsCount}} </span></td>
        
        <!--<td><span data-ng-hide="editMode">{{item.AcademicBranch}}</span></td> SmsTemplate-->
        <td>
            <i ng-hide="item.IsActive==true" class="fa fa-times text-danger text" tooltip="InActive" title="InActive"></i>
            <i ng-if="item.IsActive==true" class="fa fa-check text-success" tooltip="Active" title="Active"></i>
        </td>
        <td>

            <a ui-sref="app.smsTemplate.edit({templateId:item.Id})" class="text-primary text-md"><i class="fa fa-pencil "></i></a>
        </td>


    </script>



</div>