<footer class="bg-faded text-center py-5">
    <div class="container">
        <p class="m-0">Copyright &copy; 2017 Shikkha for All or its affiliated companies and organisations. All rights reserved.</p>
    </div>
</footer>
