<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Institute</h1>
</div>

<div class="wrapper-md" ng-controller="SettingsInstituteCreateCtrl">
    <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <!-- / toaster directive -->
    <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>

    <form role="form" class="form-validation" ng-submit="Add()" ng-hide="isLoading">
        <tabset justified="false" class="tab-container">
            <tab heading="Employee Info">
                <tab-heading>
                    General Information
                </tab-heading>
                <tab-heading>
                    General Information
                </tab-heading>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label>
                                Name
                            </label>
                            <input class="form-control" data-ng-model="Institute.Name" placeholder="Name" type="text" required>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>
                                Global Institute Type
                            </label>
                            <select ng-model="Institute.GlobalInstituteTypeId" class="form-control m-b" ng-options="c.Key as c.Value for c in Institute.GlobalInstituteTypeList" required>
                                <option value="">-- Global Institute Type --</option>
                            </select>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <input type="hidden" value="{{Institute.PackageId}}" name="Institute.PackageId" />
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>
                                PackageId
                            </label>
                            <select ng-model="Institute.PackageId" class="form-control m-b" ng-options="c.Key as c.Value for c in Institute.PackageList" required>
                                <option value="">-- Choose Package --</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Url</label>
                            <input class="form-control" data-ng-model="Institute.Url" placeholder="Url" type="text" required>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Code</label>
                            <input class="form-control" data-ng-model="Institute.Code" placeholder="Code" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>latitude</label>
                            <!--<input class="form-control" data-ng-model="Institute.latitude" placeholder=" latitude" type="text">-->
                            <!--<input type="text" data-verticaldownclass="fa fa-caret-down" data-verticalupclass="fa fa-caret-up"  data-ng-model="Institute.latitude" data-decimals="2" data-step="1" placeholder=" latitude" class="form-control" ui-jq="TouchSpin" style="display: block;">-->
                            <input ui-jq="TouchSpin" type="text" value="10" class="form-control" data-min='0' data-max="2000000" data-ng-model="Institute.latitude" data-verticalbuttons="true" placeholder=" latitude" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down">
                            <!--<input type="text"  data-verticalbuttons="true" data-max="20" data-min="0" class="form-control" value="10" ui-jq="TouchSpin" style="display: block;">-->
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>longitude</label>
                            <!--<input type="text" data-verticaldownclass="fa fa-caret-down" data-verticalupclass="fa fa-caret-up"  data-ng-model="Institute.longitude" data-decimals="2" data-step="1" placeholder=" longitude" class="form-control" ui-jq="TouchSpin" style="display: block;">-->
                            <input ui-jq="TouchSpin" type="text" value="10" class="form-control" data-min='0' data-max="2000000" data-ng-model="Institute.longitude" placeholder=" longitude" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down">
                            <!--<input class="form-control" data-ng-model="Institute.longitude" placeholder=" longitude" type="text">-->
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>
                                Global Country
                            </label>
                            <select ng-model="Institute.GlobalCountryId" class="form-control m-b" ng-options="c.Key as c.Value for c in Institute.GlobalCountryList">
                                <option value="">-- Global Country --</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>
                                Global Division
                            </label>
                            <select ng-model="Institute.GlobalDivisionId" class="form-control m-b" ng-options="c.Key as c.Value for c in Institute.GlobalDivisionList">
                                <option value="">-- GlobalDivision --</option>
                            </select>

                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>
                                Global District
                            </label>
                            <select ng-model="Institute.GlobalDistrictId" class="form-control m-b" ng-options="c.Key as c.Value for c in Institute.GlobalDistrictList">
                                <option value="">-- Global District --</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>
                                Global Sub-District
                            </label>
                            <select ng-model="Institute.GlobalSubDistrictId" class="form-control m-b" ng-options="c.Key as c.Value for c in Institute.GlobalSubDistrictList">
                                <option value="">-- Global sub-District --</option>
                            </select>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Seo Text</label>
                            <textarea placeholder="Address" rows="3" class="form-control" data-ng-model="Institute.SeoText"></textarea>
                            <!--<input class="form-control" data-ng-model="Institute.SeoText" placeholder=" SeoText" type="text">-->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Contact Text</label>
                            <!--<input class="form-control" data-ng-model="Institute.ContactText" placeholder=" ContactText" type="text">-->
                            <textarea placeholder="Address" rows="3" class="form-control" data-ng-model="Institute.ContactText"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Google Map Address</label>
                            <!--<input class="form-control" data-ng-model="Institute.ContactText" placeholder=" ContactText" type="text">-->
                            <textarea placeholder="Address" rows="3" class="form-control" data-ng-model="Institute.GoogleMapAddress"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Google Map Address</label>
                            <!--<input class="form-control" data-ng-model="Institute.ContactText" placeholder=" ContactText" type="text">-->
                            <textarea placeholder="Address" rows="3" class="form-control" data-ng-model="Institute.GoogleMapAddress"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>WelCome Text</label>
                        <div lazy-load="textAngular">
                            <div text-angular ng-model="Institute.WelComeText" class="btn-groups" ng-required="true"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <label>Infractructure Text</label>
                        <div lazy-load="textAngular">
                            <div text-angular ng-model="Institute.InfractructureText" class="btn-groups" ng-required="true"></div>
                        </div>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-sm-12">
                        <label>MasterPlan Text</label>
                        <div lazy-load="textAngular">
                            <div text-angular ng-model="Institute.MasterPlanText" class="btn-groups" ng-required="true"></div>
                        </div>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-sm-12">
                        <label>UsefulLink Text</label>
                        <div lazy-load="textAngular">
                            <div text-angular ng-model="Institute.UsefulLinkText" class="btn-groups" ng-required="true"></div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Facebook Url</label>
                            <input class="form-control" data-ng-model="Institute.FacebookUrl" placeholder=" FacebookUrl" type="text">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Twitter Url</label>
                            <input class="form-control" data-ng-model="Institute.TwitterUrl" placeholder=" TwitterUrl" type="text">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Google Url</label>
                            <input class="form-control" data-ng-model="Institute.GoogleUrl" placeholder=" GoogleUrl" type="text">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Linkedin Url</label>
                            <input class="form-control" data-ng-model="Institute.LinkedinUrl" placeholder=" LinkedinUrl" type="text">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Behance Url</label>
                            <input class="form-control" data-ng-model="Institute.BehanceUrl" placeholder=" BehanceUrl" type="text">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Active  &nbsp;</label><br />
                            <label class="i-checks m-b-none">

                                <input type="checkbox" data-ng-model="Institute.IsActive"> <i></i>
                            </label>

                        </div>
                    </div>

                </div>

                <hr />
                <div class="row">
                    <div class="col-sm-6 ">
                        <a ui-sref="app.applicationsettings.Institute" class="btn btn-default  "><i class="icon-action-undo"></i> &nbsp;Back to List</a>
                    </div>
                    <div class="col-sm-6  pull-right">

                        <button type="submit" class="btn btn-addon btn-primary pull-right">
                            <i class="glyphicon glyphicon-floppy-saved"></i>SAVE
                        </button>
                    </div>
                </div>
            </tab>
            <!--<tab heading="Photo Info" disabled="true">
                <tab-heading>
                    Photo Information
                </tab-heading>


            </tab>
            <tab heading="Address Info" disabled="true">
                <tab-heading>
                    Slider Image
                </tab-heading>


            </tab>-->

        </tabset>



    </form>



</div>

