<div class="bg-info-lter b-b wrapper-sm text-dark-dk">
    <h1 class="m-n font-thin h3"><i class="fa fa-mortar-board"></i>Employee Attendance List</h1>
</div>
<div class="wrapper-md" ng-controller="EmployeeAttendanceListCtrl">
    <!-- toaster directive -->
    <toaster-container toaster-options="{'deeppition-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>
    <form role="form" name="step1" class="form-validation" method="deeppt">
        <div class="panel panel-primary" ng-hide="isLoading">
            <div class="panel-heading wrapper-xs">Search</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Branch</label>
                            <select ng-model="VmSearchAttendance.BranchId" class="form-control m-b" ng-options="c.Key as c.Value for c in VmSearchAttendance.BranchList"></select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Date Start</label>
                            <div ng-controller="DatepickerDemoCtrl">
                                <div class="input-group ">
                                    <input type="text" ng-value="{{VmSearchAttendance.startDate | date:'dd-MMMM-yyyy'}}" class="form-control" datepicker-popup="{{format}}" ng-model="VmSearchAttendance.startDate" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Date End</label>
                            <div ng-controller="DatepickerDemoCtrl">
                                <div class="input-group ">
                                    <input type="text" ng-value="{{VmSearchAttendance.endDate | date:'dd-MMMM-yyyy'}}" class="form-control" datepicker-popup="{{format}}" ng-model="VmSearchAttendance.endDate" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div class="input-group ">
                                <button type="submit" class="btn btn-primary pull-right" ng-click="GetFilterResult()"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="panel panel-default" ng-hide="isLoading">
        <div class="row wrapper">
            <div class="col-sm-3 m-b-xs">
                <button class="btn btn-sm btn-success" ui-sref="app.employeeAttendance.create">+ ADD NEW</button>
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" ng-change="search()" ng-model="query" placeholder=" search">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <table class="table table-striped b-t b-light">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Total Employees</th>
                    <th>Presents</th>
                    <th>Absents</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in VmSearchAttendance.SearchTeacherAttendanceData| orderBy:'-Id' | filter:query">
                    <td>{{x.AttendanceDate | date:'dd-MMMM-yyyy'}}</td>
                    <td>{{ x.TotalCount }}</td>
                    <td>{{ x.PresentCount }} ({{x.PresentPercentage}}%)</td>
                    <td>{{ x.AbsentCount }} ({{x.AbsentPercentage}}%)</td>
                    <td>
                        <a ui-sref="app.employeeAttendance.edit({employeeattendanceId:x.Id})" tooltips title="Edit" class="text-primary text-md"><i class="fa fa-pencil "></i></a> &nbsp;&nbsp;
                        <a ui-sref="app.employeeAttendance.details({employeeattendanceId:x.Id})" tooltips title="Details" class="text-primary text-md"><i class="fa fa-file-archive-o "></i></a> &nbsp;&nbsp;

                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr></tr>
            </tfoot>
        </table>
    </div>
</div>
