
@{
    ViewBag.Title = "Business Casual - Start Bootstrap Theme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        <strong>Building a long lasting sustainable relationship with our user is paramount to us. </strong>
    </h2>
    <hr class="divider">
    <div class="row">
        <!-- <div class="col-lg-6">
          <img class="img-fluid mb-4 mb-lg-0" src="img/slide-2.jpg" alt="">
        </div> -->
        <div class="col-lg-12">
            <img class="img-fluid mb-4 mb-lg-0" src="~/img/slide-2.jpg" alt="">
            <p>
                For us, customer support is not a department, it is rather an attitude. Our support structure design is underpinned by our philosophy, how we would have liked support to be delivered to us if we were a subscriber.
                When an institution subscribe our system, we just don't provide a system. We work with our client side by side to ensure they are not only confident and conformable with our system, but also yielding full potential of their subscription. We help every subscribers to migrate from their old management system to our most advanced system.
            </p>
            <p>Although, our system is proven and tested by scores of users, we have a very robust support structure in place throughout our settings.  We understand that not all institutions requirements are same. We want to make sure that every single institutions, regardless of their size and operations, everyone gets equal importance and attention from us. Thus, we have made a system that is perfectly customisable to match your requirements.    </p>
        </div>
    </div>
</div>

<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        <strong>Our friendly and talented support team are ready to respond your query at all time. </strong>
    </h2>
    <hr class="divider">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="~/img/slide-2.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <h3>
                Technical support
            </h3>
            <p>Our friendly and helpful technical support staff provide ongoing assistance at no extra cost. We are available to help Monday to Friday 9am–5pm Bangladesh Time (+6 GMT).</p>
            <p>Contact us on the support phone line on 123456 or log a ticket via the Client Helpdesk with any questions or issues. </p>
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-lg-6">

            <img class="img-fluid mb-4 mb-lg-0" src="~/img/slide-2.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <h3>Regular updates </h3>
            <p>
                We continuously strive to ensure our system is most up to date. Continuous research and development is an integral part of organisation's culture. Time to time we will release new features to make sure our system is robust and contemporary. As a regular subscriber to our system, you will automatically receive every updates at no cost. To this end, we can ensure that the new feature releases will no way hamper your operation.
            </p>
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-lg-6">

            <img class="img-fluid mb-4 mb-lg-0" src="~/img/slide-2.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <h3>In-house seminar and webinar </h3>
            <p>
                Time to time we run seminar for our subscribers. There are two different types of seminars: in-house and webinar. In-house seminar is held twice every year that take place in our centrally located office building; whereas , the webinar take place every month. The main purdeeppe of seminar is to facilitate a platform where all users can share their experience and learning about using SFA system.
            </p>
            <p>
                We take feedback from seminars very seriously and try to ensure our system is in compliance with users requirements.
            </p>
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-lg-6">

            <img class="img-fluid mb-4 mb-lg-0" src="~/img/slide-2.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <h3>SFA community </h3>
            <p>
                This is our online community forum. This is designed for everyone especially who are unable to attend in-house seminar or webinar. SFA community forum is our knowledge base where hundreds of questions and answers are available. If you don't find your required answer, you can be sure an SFA moderator will respond to your question without any delay. Through this forum can also learn about any forthcoming best-practice events or user meet ups in your area.
            </p>
        </div>
    </div>

    <hr class="divider">
    <div class="row">
        <div class="col-lg-6">

            <img class="img-fluid mb-4 mb-lg-0" src="~/img/slide-2.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <h3>User Helpdesk </h3>
            <p>A HelpDesk is where all users including staff, pupils and parents can go to log a call. Log a ticket via the Helpdesk with any questions or issues. Available to help 9am–5pm (Bangladesh Time +6 GMT) from Sunday to Thursday. Once you submit a support ticket, the help desk will notify the user their question has been logged with an log number and how their query is being dealt with. </p>

        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-lg-6">

            <img class="img-fluid mb-4 mb-lg-0" src="~/img/slide-2.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <h3>Incident Management </h3>
            <p> When a fault has been logged with the helpdesk the issue needs fixing or a work around implemented.  In incident management the helpdesk call is logged and then assigned to a technician to work with until the incident is rectified.</p>

        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-lg-6">

            <img class="img-fluid mb-4 mb-lg-0" src="~/img/slide-2.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <h3>Security </h3>
            <p>At SFA we take security and backup of your information very seriously. We take all reasonable precautions to protect your data. To this end, we make sure our server is equipped with most up to date anti-virus software and also data stored in the server are encrypted.  We take data backup regularly. The weekly backups are encrypted and transferred to an alternate storage provider should anything happen to the original data. At any stage, if you should decide to stop using SFA system, we will provide you at no extra charge a copy of all your data.  </p>

        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-lg-6">

            <img class="img-fluid mb-4 mb-lg-0" src="~/img/slide-2.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <h2 style="text-align: center;">We are satisfied when our user is satisfied.  </h2>


        </div>
    </div>
</div>

