<div class="bg-info-lter b-b wrapper-sm text-dark-dk">
    <h1 class="m-n font-thin h3"><i class="fa fa-mortar-board"></i>Fees Collection</h1>
</div>
<div class="wrapper-md" ng-controller="FeesColeectionNewCtrl">
    <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <form role="form" name="step1" class="form-validation" method="post">
        <div class="panel panel-primary">
            <div class="panel-heading wrapper-xs">Search</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Student Pin</label>
                            <input class="form-control" value="ST898989" data-ng-model="feesCollectionModel.StudentPin"  placeholder="Student Pin" type="text">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <button type="button" style="margin-top:25px;" class="btn btn-primary" ng-click="GetFilterResult()"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>
        <div class="panel panel-default" ng-hide="isLoading">
            <div class="row wrapper">
                <div class="row">

                    <div class="col-sm-3">
                        <div class="inline bg-white wrapper-sm b-a  pull-right">
                            <div class="bg-light">
                                <img onerror="$(this).attr('src', 'img/404_error_image.png');" style="border: solid 1px gray" width="100px" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="m-l-md">
                            <div class="clearfix m-b-md">

                                <div class="clear">
                                    <h3 class="m-t-none text-black">{{VmStudent.UserInfo.Name}}</h3>

                                    <span>Session: {{(VmStudent.Student.AcademicSessionList| filter:{Key:VmStudent.Student.CurrentAcademicSessionId})[0].Value }}</span>
                                    <span>, Branch: {{(VmStudent.Student.AcademicBranchList| filter:{Key:VmStudent.Student.CurrentAcademicBranchId})[0].Value }}</span>
                                    <br />
                                    <span>Class: {{(VmStudent.Student.AcademicClassList| filter:{Key:VmStudent.Student.CurrentAcademicClassId})[0].Value }}</span>
                                    <span>, Section: {{(VmStudent.Student.AcademicSectionList| filter:{Key:VmStudent.Student.CurrentAcademicSectionId})[0].Value }}</span>

                                    <br />
                                    <span>Roll: {{VmStudent.Student.CurrentRollNo}}</span>
                                    <span ng-hide="!VmStudent.Student.CurrentAcademicGroupId">, Group: {{(VmStudent.Student.AcademicGroupList| filter:{Key:VmStudent.Student.CurrentAcademicGroupId})[0].Value }}</span>
                                    <span ng-hide="!VmStudent.Student.CurrentAcademicVerssionId">, Verssion: {{(VmStudent.Student.AcademicVerssionList| filter:{Key:VmStudent.Student.CurrentAcademicVerssionId})[0].Value }}</span>
                                    <span ng-hide="!VmStudent.Student.CurrentAcademicShiftId">, Shift: {{(VmStudent.Student.AcademicShiftList| filter:{Key:VmStudent.Student.CurrentAcademicShiftId})[0].Value }}</span>
                                    <br />


                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class=" line-dashed b-b"></div>
            </div>
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Due Amount</th>
                        <th>Paid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in mPaymentListModel.SearchData| orderBy:'-Id' | filter:query">
                        <td>{{x.TransactionDate | date:'dd-MMMM-yyyy'}}</td>
                        <td>{{ x.TransactionId }}</td>
                        <td>{{ x.Student.UserInfo.PIN }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>
        </div>
        <div class="row" style="margin-bottom:10px;">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div>
