<div class="panel panel-success" ng-controller="feesAcademicClass" ng-init="init()">

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Class Fess Mapping</h1>
    </div>

    <tabset justified="false" class="tab-container">
        <tab heading="feestab">
            <tab-heading>
                Fees Mapping
            </tab-heading>
            <div class="row">
                <form ng-submit="save(classFeesList)">
                    <div class="panel-body">
                        <div class="row">
                            <table class="table table-striped b-t b-light" ng-table>
                                <thead>
                                    <tr>
                                        <!--<th>Id</th>-->
                                        <th>IsAdded</th>
                                        <th>Class</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Amount</th>
                                        
                                    </tr>
                                </thead>
                                <tbody ng-show="classFeesList.length">
                                    <tr ng-repeat="x in classFeesList">
                                        <!--<td>{{x.FeesAcademicClassId}}</td>-->

                                        <td>                                      
                                            <label class="i-checks m-b-none" ng-init="x.FeesAcademicClassId?x.IsAlreadyAdded=true:x.IsAlreadyAdded=false;">

                                                <!--<input value="{{item.IsActive}}" ng-model="item.IsActive" type="checkbox">-->
                                                <input ng-change="setChange(x)" ng-model="x.IsAlreadyAdded" ng-checked="x.IsAlreadyAdded" type="checkbox" name="IsAdded" />
                                                <i>
                                                </i>                                                      
                                            </label>
                                        </td>
                                        <td>{{x.AcademicClassName}}</td>
                                        <td>{{x.FeesHeadName}}</td>
                                        <td>
                                            <!--<select   class="form-control" data-ng-options="o.Name for o in x.FeesTypes track by o.Id"></select>-->
                                            <select ng-model="x.FeesTypeId" class="form-control m-b"  ng-options="c.Key as c.Value for c in x.kvpFeesTypes">
                                                <option value="">-- Select Fees Type--</option>
                                            </select>
                                        </td>
                                        <td><input ng-model="x.Amount" ng-blur="setChange(x)" ng-checked="x.IsAlreadyAdded" type="text" name="Amount" /></td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-2 pull-right">
                                    <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </tab>
        <tab heading="reporttab">
            <tab-heading>
                Report
            </tab-heading>
            <div class="row">
                <table class="table table-striped b-t b-light" ng-table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Class</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody ng-show="academicClass.length">
                        <tr ng-repeat="x in academicClass">

                            <td>{{x.FeesAcademicClassId}}</td>
                            <td>{{x.AcademicClassName}}</td>
                            <td>
                                <select ng-model="selectedOption" ng-change="getreport(selectedOption,x)" class="form-control" data-ng-options="o.Value for o in appliedMonths track by o.Key"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
        <tab heading="outputtab">
            <tab-heading>
                Output
            </tab-heading>

            <div class="row">
                <div ng-show="monthlyReport.length">
                    <div ng-repeat="studentFees in monthlyReport">
                        <div class="col-sm-4">
                            <div class="clear">
                                <h3 class="m-t-none text-black"> {{studentFees.StudentName}}  </h3>
                                <span>Month: {{studentFees.Month}}</span>
                                <span>, Class: {{studentFees.Class}}</span>
                                <br />
                                <span>Institute: {{studentFees.Institute}}</span>
                                <span>, Anount: {{studentFees.MonthlyAnount}}</span>
                                <br />

                                <br />
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <table class="table table-striped b-t b-light" ng-table>
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Class</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody ng-show="studentFees.ReceiveAmounts.length">
                                    <tr ng-repeat="x in studentFees.ReceiveAmounts">

                                        <td>{{x.FeesHeadId}}</td>
                                        <td>{{x.FeesHeadName}}</td>
                                        <td>{{x.Amount}}</td>

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Summery</td>
                                        <td>Remaining Amount:{{studentFees.RemainingAmount}}</td>
                                        <td>{{studentFees.AmountPaid}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>



</div>