
<div class="bg-details b-b wrapper-sm text-primary-dker">
    <h3 class="m-n">Student Ledger</h3>
</div>
<progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>
<div class="wrapper-md" ng-controller="FeesColeectionLedgerCtrl">
    <!-- toaster directive -->
    <form role="form" name="step1" class="form-validation" method="post">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3" ng-show="vmFeesCollectionModel.BranchList.length>1">
                        <div class="form-group">
                            <label>Branch</label>
                            <select ng-model="vmFeesCollectionModel.BranchId" class="form-control m-b" ng-options="c.Key as c.Value for c in vmFeesCollectionModel.BranchList"></select>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Student</label>
                            <div class="input-group">
                                <ui-select ng-model="teacher.selected"
                                           theme="bootstrap"
                                           ng-disabled="disabled"
                                           reset-search-input="false"
                                           ng-change="refreshDesc()"
                                           style="width: 425px;">
                                    <ui-select-match placeholder="Enter a student name or GRN...">{{$select.selected.Text}}</ui-select-match>
                                    <ui-select-choices repeat="teacher in teachers track by $index"
                                                       refresh="refreshTeacher($select.search)"
                                                       refresh-delay="0">
                                        <div ng-bind-html="teacher.Text | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button ng-click="teacher.selected=undefined; removeTeacher() " type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right; padding-right: 25px;">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <button type="submit" ng-disabled="!vmFeesCollectionModel.BranchId || !teacher.selected"
                                    style="margin-top:25px;" class="btn btn-primary" ng-click="GetSearchResult()">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>
    <div class="row wrapper">
        <form role="form" name="step2" class="form-validation" method="post" ng-init="formStatus=true" ng-submit="AddFeesCollection()" ng-show="formStatus">
            <div class="panel panel-default" ng-hide="isLoading">
                <div class="row wrapper" ng-hide="!vmFeesCollectionModel.feesDetails.StudentId">
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="row-sm">
                                <div class="m-l-sm">
                                    <div class="clearfix m-b-md">
                                        <div class="clear" style="padding-top:12px;">
                                            <h4 class="m-t-none text-black">Name: {{vmFeesCollectionModel.feesDetails.StudentName}}</h4>
                                            <span ng-hide="!vmFeesCollectionModel.feesDetails.SessionName">Session: {{vmFeesCollectionModel.feesDetails.SessionName}},</span><br />
                                            <span> Class: {{vmFeesCollectionModel.feesDetails.ClassName}} , Roll: {{vmFeesCollectionModel.feesDetails.ClassRoll}}</span><br />
                                            <span ng-hide="!vmFeesCollectionModel.feesDetails.SectionName">Section: {{vmFeesCollectionModel.feesDetails.SectionName}}</span><br />
                                            <span ng-hide="!vmFeesCollectionModel.feesDetails.VersionName">Version: {{vmFeesCollectionModel.feesDetails.VersionName}}</span><br />
                                            <span ng-hide="!vmFeesCollectionModel.feesDetails.GroupName">Group: {{vmFeesCollectionModel.feesDetails.GroupName}}</span>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" ng-click="ShowSearch()" ng-show="isLadger" class="btn btn-warning">Advance Search </button>
                                    <button type="button" ng-click="HideSearch()" ng-show="isSearch" class="btn btn-black">Back </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="panel panel-default" ng-show="isSearch">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Session</label>
                                            <select ng-model="vmFeesCollectionModel.SessionId" class="form-control m-b" ng-options="c.Key as c.Value for c in vmFeesCollectionModel.SessionList"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Report Type</label>
                                            <select ng-model="reportTypeId" ng-init="reportTypeId=1" ng-change="ChangeRptType()" class="form-control m-b">
                                                <option value="1" selected="selected">Summary</option>
                                                <option value="2">Details</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Up to Date</label>
                                            <div ng-controller="DatepickerDemoCtrl">
                                                <div class="input-group ">
                                                    <input type="text" ng-value="{{vmFeesCollectionModel.UpToDate | date:'dd-MMMM-yyyy'}}" class="form-control" datepicker-popup="{{format}}" ng-model="vmFeesCollectionModel.UpToDate" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <button style="margin-top: 25px" type="button" ng-disabled="!vmFeesCollectionModel.SessionId || !reportTypeId || !vmFeesCollectionModel.UpToDate" class="btn btn-primary pull-left" ng-click="GetAdvSearchResult()"><i class="glyphicon glyphicon-search"></i>&nbsp;Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped b-light">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" style="text-align: left">Generated For</th>
                                                <th rowspan="2" style="text-align: left">Particulars</th>
                                                <th rowspan="2" style="text-align: right">Due/Payment Date</th>
                                                <th rowspan="2" style="text-align: right">Debit</th>
                                                <th colspan="3" style="text-align: center;">Credit</th>
                                            </tr>
                                            <tr>
                                                <th style="text-align: right;">W/O VAT</th>
                                                <th style="text-align: right">VAT</th>
                                                <th style="text-align: right">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody class="b-t">
                                            <tr ng-repeat="x in history1 | orderBy:'DuePaymentDate' | filter:query">
                                                <td style="text-align: left">{{ x.MonthFor| date:'MMMM, yyyy'}}</td>
                                                <td style="text-align: left">{{x.FeesHead}}</td>
                                                <td style="text-align: right">{{x.DuePaymentDate  | date:'dd MMM,yy'}}</td>
                                                <td style="text-align: right">{{x.Debit}}</td>
                                                <td style="text-align: right;">{{x.WOVat}}</td>
                                                <td style="text-align: right">{{x.Vat}}</td>
                                                <td style="text-align: right">{{x.Credit}}</td>
                                            </tr>
                                            <!--<tr ng-show="reportTypeId==2 && history1.length>0">
                                                <td colspan="3" style="text-align: right">Total</td>
                                                <td style="text-align: right">{{totalDebit}}</td>
                                                <td style="text-align: right">{{totalCredit}}</td>
                                            </tr>-->
                                            <tr ng-show="history1.length>0">
                                                <td colspan="3" style="text-align: right">Total</td>
                                                <td style="text-align: right">{{totalDebit}}</td>
                                                <td style="text-align: right;">{{totalWOVCredit}}</td>
                                                <td style="text-align: right">{{totalVCredit}}</td>
                                                <td style="text-align: right">{{totalCredit}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="7" style="text-align: right">
                                                    <span ng-if="totalSum>0" style="color: red; font-size: 20px;">Outstanding:  {{totalSum | number: 2}}</span>
                                                    <span ng-if="totalSum<0" style="color: green; font-size: 20px;">Advance: {{totalSum * -1 | number: 2 }}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" ng-show="isLadger">
                            <div class="table-responsive">
                                <table class="table table-striped b-light">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center">Month</th>
                                            <th style="text-align: center">Receivable</th>
                                            <th style="text-align: center">Discount</th>
                                            <th style="text-align: right">Received</th>
                                            <th style="text-align: right; width:20%;">Outstanding</th>
                                        </tr>
                                    </thead>
                                    <tbody class="b-t">
                                        <tr ng-repeat="x in vmFeesCollectionModel.feesDetails.feesDueDetails | orderBy:'-FeesGenerateId' | filter:query">
                                            <td style="text-align: center">{{x.MonthName}}</td>
                                            <td style="text-align: center">{{x.TotalReceivable}}</td>
                                            <td style="text-align: center">{{x.TotalDiscount}}</td>
                                            <td style="text-align: right">{{ x.PaidAmount }}</td>
                                            <td style="text-align: right">{{ x.TotalDueAmount }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row wrapper" ng-hide="vmFeesCollectionModel.feesDetails.StudentId">
                        <div class="row">
                            <div class="col-sm-10">
                                <p style="color: red; text-align: center;"> {{noData}}</p>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
    <div class="col-sm-8" ng-init="recepitStatus=false" ng-hide="!recepitStatus">
        <div class="panel panel-default" ng-hide="isLoading">
            <div class="bg-light b-b wrapper-md hidden-print">
                <span><input type="button" id="btnPrint" ng-click="ReceiptPrint()" value="Print" class="btn btn-warning pull-right" /></span>
                <h1 class="m-n font-thin h3">Payment Receipt</h1>
            </div>
            <div id="paymentReceipt" ng-bind-html="thisCanBeusedInsideNgBindHtml">
            </div>
        </div>
    </div>

</div>
