<footer role="contentinfo">
    <div class="clearfix">
        <div class="col-md-6 col-sm-6">
            <a href="#" target="_blank">
                www.shikkhaforall.com
            </a>
            © @System.DateTime.Now.ToString("yyyy")
            |
            <i class="fa fa-globe"></i><a href="#" target="_blank">
                   www.shikkhaforall.com
            </a>
        </div> <!-- /.col-md-6 -->
        <div class="col-md-6 col-sm-6">
            <div class="credits">
                <i class="fa fa-envelope"></i>&nbsp;info@shikkhaforall.com
                |
                <i class="fa fa-facebook-square"></i>&nbsp;<a href="#" target="_blank">/shikkhaforall</a>
            </div>
        </div> <!-- /.col-md-6 -->

        <button class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
    </div>
</footer>
