<!-- Footer Area Start -->
<footer>
   
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="copyright">
                        <p>&copy; @DateTime.Now.Year BD Digital Consultancy ALL RIGHTS RESERVED <a class='cscolor' href='http://www.bddigitalconsultancy.com/' target="_blank">BD Digtial Consultancy</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <span id="backtop"><i class="icon-arrow-up9"></i></span>
                    <div class="social-media">
                        <h6>Follow us</h6>
                        <ul>
                            <li>
                                <a class="icon-facebook2 " data-original-title="Facebook" href="https://www.facebook.com/bddigitalconsultancy/?ref=bookmarks/" target="_blank"></a>
                            </li>
                            <li>
                                <a class="icon-dribbble7 " data-original-title="Dribbble" href="https://dribbble.com/" target="_blank"></a>
                            </li>
                            <li>
                                <a class="icon-twitter2 " data-original-title="Twitter" href="https://www.twitter.com/" target="_blank"></a>
                            </li>
                            <li>
                                <a class="icon-behance2 " data-original-title="Behance" href="https://www.behance.net/" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
