@model deepp.landing.Models.LoginViewModel

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="widget-item">
                <div class="request-information">
                    <h3 class="widget-title">Sign in</h3>
                    <form class="request-info clearfix">
                        <div class="full-row">
                            <p class="small-text pull-left">you can sign in by your gmail, facebook, twitter, hotmail or outlook account</p>
                            <p>
                                <a href="#" title="sign in by Gmail"><img src="~/images/gmail.png"></a>
                                <a href="#" title="sign in by Facebook"><img src="~/images/fb.png"></a>
                                <a href="#" title="sign in by Twitter"><img src="~/images/tw.png"></a>
                                <a href="#" title="sign in by Outlook, Hotmail"><img src="~/images/outlook.png"></a>
                            </p>
                            <p></p>
                        </div> <!-- /.full-row -->

                        <div class="full-row">
                            <span class="small-text">also you can <span class="widget-title"><a href="~/Account/RegisterMobileNo" title="click here to register">register here</a> </span>and create a user name and password</span>
                        </div>
                        @using (Html.BeginForm("Login", "Account"))
                        {
                            <div class="full-row">
                                <label for="yourname">User Name:</label>
                                <input type="text" name="UserName" id="UserName">
                            </div> <!-- /.full-row -->

                            <div class="full-row">
                                <label for="Password">Password:</label>
                                <input type="password" name="Password" id="Password">
                            </div> <!-- /.full-row -->

                            <div class="full-row">
                                <div class="submit_field">
                                    <input type="submit" value="Sign in" name="" class="mainBtn">
                                </div> <!-- /.submit-field -->
                            </div> <!-- /.full-row -->
                        }
                        <div class="full-row">
                            <a href="#" title="click here if you forgot your user name or password">Forgot your user name or password?</a>
                        </div>

                    </form> <!-- /.request-info -->
                </div> <!-- /.request-information -->
            </div> <!-- /.widget-item -->
        </div>
    </div>
</div>
