<div class="bg-details b-b wrapper-sm text-primary-dker">
    <h3 class="m-n"><i class="icon-briefcase"></i> &nbsp; Update Fees Generate Configuration</h3>
</div>
<div class="wrapper-md">
    <div class="col-sm-12">
        <!-- toaster directive -->
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
        <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>
        <!-- attendance directive -->
        <div class="panel wrapper row">
            <form role="form" name="step1" ng-controller="FeesAutoGenerateEditCtrl" ng-submit="UpdateFeesAutoGenerate()" class="form-validation" method="post">
                <div class="row">
                    <div class="form-group col-sm-5">
                        <label>Configuration Type</label>
                        <select ng-model="feesAutoGenModel.FeesAutoGenerateConfig.FeesAutoGenerateConfigTypeId" class="form-control m-b ng-pristine ng-invalid ng-invalid-required ng-dirty ng-touched"
                                ng-required="true" ng-options="c.Key as c.Value for c in feesAutoGenModel.feesAutoGenTypeList">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Title </label>
                            <input class="form-control" data-ng-model="feesAutoGenModel.FeesAutoGenerateConfig.Name" required placeholder="Title" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 panel-heading wrapper-xs"><b>Students Selection:</b><br /></div>
                <div class="row wrapper">
                    <div class="col-sm-5">
                        <div class="form-group" style="display:none">
                            <label class="i-checks m-b-none">
                                <input type="checkbox" data-ng-model="feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicBranch"> <i></i>
                            </label>
                            <label ng-hide="!feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicBranch">Students Of All Branches </label>
                            <div class="form-group">
                                <div ng-hide="feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicBranch" class="form-control-static input-group col-sm-5">
                                    <label>Students Of Branches </label>
                                    <ui-select multiple ng-model="feesAutoGenModel.selectedBranches" theme="bootstrap" ng-disabled="disabled" class="col-sm-5">
                                        <ui-select-match placeholder="Select Branches...">{{$item.Value}}</ui-select-match>
                                        <ui-select-choices repeat="c in feesAutoGenModel.BranchList | propsFilter: {Key: $select.search, Value: $select.search}">
                                            <div ng-bind-html="c.Value | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                        </div>
                        <div class="form-group" style="display:none">
                            <label class="i-checks m-b-none">
                                <input type="checkbox" data-ng-model="feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicVerssion"> <i></i>
                            </label>
                            <label ng-hide="!feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicVerssion">Students Of All Verssions </label>
                            <div class="form-group">
                                <div ng-hide="feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicVerssion" class="form-control-static input-group col-sm-5">
                                    <label>Students Of Version </label>

                                    <ui-select multiple ng-model="feesAutoGenModel.selectedVersions" theme="bootstrap" ng-disabled="disabled" class="col-sm-5">
                                        <ui-select-match placeholder="Select Versions...">{{$item.Value}}</ui-select-match>
                                        <ui-select-choices repeat="c in feesAutoGenModel.VersionList | propsFilter: {Key: $select.search, Value: $select.search}">
                                            <div ng-bind-html="c.Value | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="i-checks m-b-none">
                                <input type="checkbox" data-ng-model="feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicClass"> <i></i>
                            </label>
                            <label ng-hide="!feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicClass">Students Of All Classes</label>
                            <div class="form-group">
                                <div ng-hide="feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicClass" class="form-control-static input-group col-sm-5">
                                    <label>Students Of Class</label>

                                    <ui-select multiple ng-model="feesAutoGenModel.selectedClasses" theme="bootstrap" ng-disabled="disabled" class="col-sm-5">
                                        <ui-select-match placeholder="Select Classes...">{{$item.Value}}</ui-select-match>
                                        <ui-select-choices repeat="c in feesAutoGenModel.ClassList | propsFilter: {Key: $select.search, Value: $select.search}">
                                            <div ng-bind-html="c.Value | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            <label class="i-checks m-b-none">
                                <input type="checkbox" data-ng-model="feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicShift"> <i></i>
                            </label>
                            <label ng-hide="!feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicShift">Students Of All Shifts</label>
                            <div class="form-group">
                                <div ng-hide="feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicShift" class="form-control-static input-group col-sm-5">
                                    <label>Students Of Shift</label>

                                    <ui-select multiple ng-model="feesAutoGenModel.selectedShifts" theme="bootstrap" ng-disabled="disabled" class="col-sm-5">
                                        <ui-select-match placeholder="Select Shifts...">{{$item.Value}}</ui-select-match>
                                        <ui-select-choices repeat="c in feesAutoGenModel.ShiftList | propsFilter: {Key: $select.search, Value: $select.search}">
                                            <div ng-bind-html="c.Value | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            <label class="i-checks m-b-none">
                                <input type="checkbox" data-ng-model="feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicGroup"> <i></i>
                            </label>
                            <label ng-hide="!feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicGroup">Students Of All Groups</label>
                            <div class="form-group">
                                <div ng-hide="feesAutoGenModel.FeesAutoGenerateConfig.IsAllAcademicGroup" class="form-control-static input-group col-sm-5">
                                    <label>Students Of Group </label>

                                    <ui-select multiple ng-model="feesAutoGenModel.selectedGroups" theme="bootstrap" ng-disabled="disabled" class="col-sm-5">
                                        <ui-select-match placeholder="Select Groups...">{{$item.Value}}</ui-select-match>
                                        <ui-select-choices repeat="c in feesAutoGenModel.GroupList | propsFilter: {Key: $select.search, Value: $select.search}">
                                            <div ng-bind-html="c.Value | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="i-checks m-b-none">
                                <input type="checkbox" data-ng-model="feesAutoGenModel.FeesAutoGenerateConfig.IsAllFacility"> <i></i>
                            </label>
                            <label ng-hide="!feesAutoGenModel.FeesAutoGenerateConfig.IsAllFacility">Students Of All Facilities</label>
                            <div class="form-group">
                                <div ng-hide="feesAutoGenModel.FeesAutoGenerateConfig.IsAllFacility" class="form-control-static input-group col-sm-5">
                                    <label>Students Of Facility</label>
                                    <select ng-model="feesAutoGenModel.FeesAutoGenerateConfig.FacilityId" class="form-control m-b ng-pristine ng-invalid ng-invalid-required ng-dirty ng-touched"
                                            ng-options="c.Key as c.Value for c in feesAutoGenModel.FacilityList">
                                        <option value="">Please Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <table class="table table-striped b-t b-light" ng-table>
                            <thead>
                                <tr>
                                    <th>Fees Head</th>
                                    <th>Amount</th>
                                    <th>Vat (%)</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody ng-show="feesAutoGenModel.FeesGenerateHeadList.length">
                                <tr ng-repeat="x in feesAutoGenModel.FeesGenerateHeadList">
                                    <td><label><input type="hidden" value="{{ x.FeesHeadId }}">{{ x.HeadName }}</label></td>
                                    <td><input type="number" step=".01" data-ng-model="x.Amount"></td>
                                    <td><input type="text" style="width: 60px" disabled="disabled" data-ng-model="x.VAT"></td>
                                    <td><label><strong>{{(Math.round((x.Amount*(x.VAT||0)/100)+x.Amount))||0}}</strong></label></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="form-group">
                        <div class="form-group pull-left">
                            <label><input type="radio" ng-model="feesAutoGenModel.FeesAutoGenerateConfig.IsActive" value="1">&nbsp;<i class="fa fa-check text-success "></i>Enabled&nbsp;&nbsp;</label>
                            <label><input type="radio" ng-model="feesAutoGenModel.FeesAutoGenerateConfig.IsActive" value="0">&nbsp;<i class="fa fa-times text-danger text"></i>Disabled </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Remarks </label>
                            <textarea class="form-control" cols="50" rows="5" data-ng-model="feesAutoGenModel.FeesAutoGenerateConfig.Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in ng-scope"></div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2 ">
                            <a ui-sref="app.feesGenerateConfig.panel" class="btn btn-default pull-left"><i class="icon-action-undo"></i> &nbsp;Back to List</a>
                        </div>
                        <div class="col-sm-2 pull-right">
                            <button type="submit" class="btn btn-info pull-right"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>