@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>



<li class="hasChild">
    <a href="javascript:;"><i class="fa fa-th"></i> <span>[stdname]</span> </a>
    <ul class="acc-menu" style="display: block;">
        <li><a href="/Student/index?studentId=1"><i class="fa fa-male"></i> <span>Profile</span></a></li>
        <li class="active"><a href="/Student/index?studentId=2"><i class="fa fa-male"></i> <span>Payment</span></a></li>
    </ul>
</li>
