@model pnsms.Entities.ViewModels.VmLanding
@{
    ViewBag.Title = @Model.Institute.Name;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@*@model pnsms.landing.Models.LoginViewModel*@

<style type="text/css">
   #bacgroundColor{
       background-color:#f2f2f2;
   }
   #mc_signup {
       text-align:left;
       padding-top:50px;
     
   }
   #divMiddle{
       text-align:left;
       margin-top:50px;
       background-color:#a9a9a9 ;
   }
  
</style>

<div class="row" id="bacgroundColor" >
    <div class="col-md-12">
        <div class="box-content">
        <div class="col-md-4"></div>
            <div class="col-md-4" id="divMiddle">
                <div id="mc_signup" class="form-group">
                   



                    @using (Html.BeginForm("Login", "Account", new { returnUrl = "~/Home/Index" }))
                    {
                       
                        <div class="full-row">
                            <label for="yourname" style="color:white">User Name:</label>
                            <input type="text" name="UserName" id="UserName" required="required" >
                        </div> <!-- /.full-row -->

                        <div class="full-row">
                            <label for="Password" style="color:white">Password:</label>
                            <input type="password" name="Password" id="Password" required="required" >
                        </div> <!-- /.full-row -->

                        <div class="full-row">
                            <label for="Password">&nbsp;</label>
                            <input type="submit" value="Sign in" name="" class="mc_signup_submit btn btn-primary">
                        </div> <!-- /.full-row -->
                        <div class="updated">
                            <label>&nbsp;</label>
                            @Html.ValidationSummary()
                        </div><!-- /mc_message -->
                        <div class="full-row">
                            <a href="~/Account/ForgotPass" title="click here if you forgot your password" >Forgot password?</a>
                        </div>
                        <div class="full-row">
                            <p class="small-text pull-left" style="color:white">you can sign in by your gmail, facebook, twitter, hotmail or outlook account</p>
                            <p>
                                <a href="#" title="sign in by Gmail"><img src="~/images/gmail.png"></a>
                                <a href="#" title="sign in by Facebook"><img src="~/images/fb.png"></a>
                                <a href="#" title="sign in by Twitter"><img src="~/images/tw.png"></a>
                                <a href="#" title="sign in by Outlook, Hotmail"><img src="~/images/outlook.png"></a>
                            </p>
                            <p></p>
                        </div> <!-- /.full-row -->
                        <div class="full-row">
                            <p style="color:white" class="small-text pull-left"><a href="~/Account/RegisterMobileNo" title="click here to register">Register Here</a> if you don't have account.</p>
                        </div>
                    } <!-- /.request-info -->

                </div>

            </div>
            <div class="col-md-4"></div>

        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}





