<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">GLSubsidyType </h1>
</div>

<div class="wrapper-md" ng-controller="GLSubsidyTypeCtrl">
    <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <!-- / toaster directive -->
    <progressbar class="progress-striped active" value="100" type="info" ng-show="isprogressbar">Loading...  </progressbar>

    <div class="panel panel-default" ng-show="isNew">
        <!--<div class="panel-heading">
            <span class="h4"> Bank Account Create</span>
        </div>-->
        <!--<p> <a class="btn btn-success btn-xs" href="/#/app/Account/BankAccount">Go Back to User List</a></p>-->
        <form name="newform" class="form-validation">
            <div class="col-sm-12">
                <fieldset class="fileSets">
                    <legend class="scheduler-border">GLSubsidyType Map Info</legend>
                    <div class="row">
                        <div class="form-group">

                            <label class="col-sm-4 control-label required">GL Account Id</label>
                            <div class="col-sm-4 form-group">


                                <select ng-model="newGLSubsidyType.GLAccountId" class="form-control m-b" required ng-options="c.Key as c.Value for c in newGLSubsidyType.kvpPostedGLAccount">
                                    <option value="">-- Select  --</option>
                                </select>



                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="form-group">

                            <label class="col-sm-4 control-label required">Subsidy Type Id</label>
                            <div class="col-sm-4 form-group">


                                <select ng-model="newGLSubsidyType.SubsidyTypeId" class="form-control m-b" required ng-options="c.Key as c.Value for c in newGLSubsidyType.kvpSubsidyType">
                                    <option value="">-- Select  --</option>
                                </select>



                            </div>
                        </div>
                    </div>
                    <br />

                    
                
                    <div class="row">
                        <div class="form-group">
                            <label class="i-checks m-b-none">
                                <input type="checkbox" data-ng-model="newGLSubsidyType.IsActive"> <i></i>
                            </label>
                            <label>Is Active  </label>
                        </div>
                    </div>

                </fieldset>

            </div>

            <footer class="panel-footer text-left bg-light lter">
                <button type="submit" class="btn btn-success" ng-click="Save(newGLSubsidyType)" ng-disabled="newform.$invalid">Submit</button>
                <button type="button" data-ng-click="isNew=false;isLoading=true" class="btn btn-info">cancel</button>
            </footer>
        </form>
    </div>

  

    <div class="panel panel-default" ng-show="isEdit">
        <div class="panel-heading">
            <span class="h4">Edit</span>
        </div>
        <form name="editForm" class="form-validation" ng-submit="Update(selected)">
            <div class="col-sm-12">
                <input class="form-control" ng-hide="true" data-ng-model="selected.ID" required placeholder="Time" type="text">

                <div class="col-sm-12">
                  
                  

                    <div class="row">
                        <div class="form-group">

                            <label class="col-sm-4 control-label required">GL Account Id</label>
                            <div class="col-sm-4 form-group">


                                <select ng-model="selected.GLAccountId" class="form-control m-b" required ng-options="c.Key as c.Value for c in newGLSubsidyType.kvpPostedGLAccount">
                                    <option value="">-- Select  --</option>
                                </select>



                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="form-group">

                            <label class="col-sm-4 control-label required">Subsidy Type Id</label>
                            <div class="col-sm-4 form-group">


                                <select ng-model="selected.SubsidyTypeId" class="form-control m-b" required ng-options="c.Key as c.Value for c in newGLSubsidyType.kvpSubsidyType">
                                    <option value="">-- Select  --</option>
                                </select>



                            </div>
                        </div>
                    </div>
                    <br />
                  

                   

                  

                 

                    <div class="form-group">
                        <label class="i-checks m-b-none">
                            <input type="checkbox" data-ng-model="selected.IsActive"> <i></i>
                        </label>
                        <label>Is Active  </label>
                    </div>
                </div>
            </div>
            <footer class="panel-footer text-left bg-light lter">
                <button type="submit" class="btn btn-success" ng-disabled="editForm.$invalid">Submit</button>
                <button type="button" data-ng-click="cancel(selected)" class="btn btn-info">cancel</button>
            </footer>
        </form>
    </div>

    <div class="panel panel-default" ng-show="isLoading && !isprogressbar">

        <div class="row wrapper">
            <div class="col-sm-3 m-b-xs">

                <button ng-click="New()" class="btn btn-sm btn-info"><i class="fa fa-plus fa-fw m-r-xs"></i>  ADD NEW</button>
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" ng-change="search()" ng-model="query" placeholder="search">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </div>
        </div>

        <!--Data-->
        <table class="table table-striped b-t b-light">
            <thead>
                <tr>
                    <th style="width:20px;">

                    </th>


                    <th><span class="">GL Account Name&nbsp;<a ng-click="sort_by('GLAccountName')"><i class="fa fa-sort"></i></a> </span></th>
                   

                    <th><span class="">Subsidy Type Name&nbsp;<a ng-click="sort_by('SubsidyTypeName')"><i class="fa fa-sort"></i></a></span></th>
                 

                    <th style="width:100px;"></th>
                </tr>
            </thead>

            <tbody>
        
                <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse" ng-include='getTemplate(item)'></tr>
            </tbody>
        </table>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <small class="text-muted inline m-t-sm m-b-sm">showing {{currentPage*itemsPerPage+1}}-{{(currentPage*(itemsPerPage)+itemsPerPage)>items.length?items.length:(currentPage*(itemsPerPage)+itemsPerPage)}} of {{items.length}} items</small>
                </div>

                <div class="col-sm-8 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none ng-isolate-scope ng-valid">
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a>
                        </li>
                        <li ng-repeat="n in range(pagedItems.length)"
                            ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                            <a href ng-bind="n + 1">1</a>
                        </li>
                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                            <a href ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>


    <script type="text/ng-template" id="display">
        <td></td>
        <td><span>{{ item.FMS_GLAccount.GLAccountName}}</span></td>
        <td><span>{{item.FMS_SubsidyType.SubsidyTypeName}}</span></td>
       
        <td>
            <a type="submit" data-ng-click="Edit(item)" tooltip="Edit" class="text-primary pull-right"><i class="fa fa-pencil "></i></a>
        </td>

    </script>
    <script type="text/ng-template" id="edit">

        <td></td>
        <td class="form-validation" ng-class="{'ng-invalid-required': item.Name==null || item.Name==''}">

            <input class="form-control" type="text" data-ng-model="item.FMS_GLAccount.GLAccountName" placeholder="GL Account Name" required />

        </td>
        <td><input class="form-control" type="text" data-ng-model="item.FMS_SubsidyType.SubsidyTypeName" placeholder="Subsidy Type Name" required /></td>
      



     
        <td>
            <a type="submit" data-ng-click="Edit(item)" tooltip="Edit" class="text-primary pull-right"><i class="fa fa-pencil "></i></a>
        </td>
       
    </script>
</div>



