<div ng-controller="SmsTemplateEditCtrl">
    <div class="bg-info-lter b-b wrapper-sm text-dark-dk">
        <h1 class="m-n font-thin h3"><i class="icon-speech "></i> &nbsp; SMS Template</h1>
    </div>

    <div class="wrapper-md">

        <toaster-container toaster-options="{'deeppition-class': 'toast-top-right', 'close-button':true}"></toaster-container>
        <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>

        <div class="panel wrapper" ng-hide="isLoading">
            <div class="row">
                <div class="col-md-12  b-light no-border-xs">

                    <div class="m-b">
                        <form role="form" class="form-validation" ng-submit="AddSmsTemplate()">

                            


                            
                            <div class="row" ng-show="SmsTemplate.NotificationTagGroupList.length>1">

                            </div>
                            <div class="row" collapse="isCollapsed">

                                <div class="col-sm-12">
                                    <label> Notification Tags</label>
                                </div>


                                <!--<div class="col-sm-12">
                                        <label class="i-checks m-b-none">

                                        </label>
                                    </div>-->

                                <div class="col-sm-12 ">
                                    <div class=" well r  alert-info dker   no-border" style="margin-bottom: 0px" ng-repeat="notificationTagGroup in  SmsTemplate.NotificationTagGroupList">
                                        <label>{{notificationTagGroup.Value}}</label>
                                        <button type="button" ng-if="SmsTemplate.IsForStudent" ng-repeat="notificationTag in  SmsTemplate.NotificationTags |   filter:{NotificationGroupName: notificationTagGroup.Value} |   filter:{IsForStudent: SmsTemplate.IsForStudent }   " class="btn btn-rounded btn-sm btn-info" ng-click="insertAtCaret('messageBody','{{notificationTag.Tag}}','{{notificationTag.TextToCalculate}}')">   {{notificationTag.Tag}}</button>
                                        <button type="button" ng-if="SmsTemplate.IsForGuardian" ng-repeat="notificationTag in  SmsTemplate.NotificationTags |   filter:{NotificationGroupName: notificationTagGroup.Value}   |   filter:{IsForGuardian: SmsTemplate.IsForGuardian } " class="btn btn-rounded btn-sm btn-info" ng-click="insertAtCaret('messageBody',' {{notificationTag.Tag}}','{{notificationTag.TextToCalculate}}')">   {{notificationTag.Tag}}</button>
                                        <button type="button" ng-if="SmsTemplate.IsForTeacher" ng-repeat="notificationTag in  SmsTemplate.NotificationTags |   filter:{NotificationGroupName: notificationTagGroup.Value}   |   filter:{IsForTeacher: SmsTemplate.IsForTeacher } " class="btn btn-rounded btn-sm btn-info" ng-click="insertAtCaret('messageBody',' {{notificationTag.Tag}}','{{notificationTag.TextToCalculate}}')">   {{notificationTag.Tag}}</button>
                                        <button type="button" ng-if="SmsTemplate.IsForEmployee" ng-repeat="notificationTag in  SmsTemplate.NotificationTags |   filter:{NotificationGroupName: notificationTagGroup.Value}   |   filter:{IsForEmployee: SmsTemplate.IsForEmployee } " class="btn btn-rounded btn-sm btn-info" ng-click="insertAtCaret('messageBody',' {{notificationTag.Tag}}','{{notificationTag.TextToCalculate}}')">   {{notificationTag.Tag}}</button>
                                        <button type="button" ng-if="SmsTemplate.IsForGoverningBody" ng-repeat="notificationTag in  SmsTemplate.NotificationTags |   filter:{NotificationGroupName: notificationTagGroup.Value}   |   filter:{IsForGoverningBody: SmsTemplate.IsForGoverningBody } " class="btn btn-rounded btn-sm btn-info" ng-click="insertAtCaret('messageBody',' {{notificationTag.Tag}}','{{notificationTag.TextToCalculate}}')">   {{notificationTag.Tag}}</button>

                                    </div>


                                </div>


                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Template  &nbsp;</label>
                                        <textarea placeholder="Template" rows="6" ng-maxlength="500" ng-change="CalculatePreviewText()" class="form-control" id="messageBody" data-ng-model="SmsTemplate.SmsTemplate"></textarea>
                                        <!--<p>{{PreviewText}}</p>
                                            <p>{{SmsCountText}}</p>-->

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Preview Text  &nbsp;</label>
                                        <!--<textarea placeholder="Template" rows="6" readonly="" class="form-control" id="messageBody" data-ng-model="PreviewText"></textarea>-->
                                        <div class="m-l-xxl" style="margin-left: 0px;">
                                            <div class="deepp-rlt bg-primary wrapper b b-light r r-2x" style="height: 131px">
                                                <span class="arrow left pull-up arrow-primary"></span>
                                                <p class="m-b-none">{{PreviewText}}</p>
                                                <p class="m-b-none" ng-show="PreviewText.length==0">No message</p>
                                            </div>

                                            <small class="text-primary-dk"><i class="fa fa-ok text-success"></i>  Sms Count <b class="badge bg-primary ">{{SmsTemplate.SmsCount}}</b></small>
                                            <!--<small class="text-muted"><i class="fa fa-ok text-success"></i>   Length: <b class="badge bg-primary ">{{SmsCountText.length}}</b></small>-->
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Active  &nbsp;</label>
                                        <label class="i-checks m-b-none">

                                            <input type="checkbox" data-ng-model="SmsTemplate.IsActive"> <i></i>
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <a ui-sref="app.sendSms.list" class="btn btn-default  "><i class="icon-action-undo"></i> &nbsp;Back to List</a>
                                </div>
                                <div class="col-sm-6  pull-right">

                                    <!--<button type="submit" class="btn btn-addon btn-primary pull-right">
                                        <i class="glyphicon glyphicon-floppy-saved"></i>SAVE
                                    </button>-->
                                </div>
                            </div>


                        </form>
                    </div>
                </div>

            </div>
            <div class="row">
                
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th style="width:55px;">
                                <span class="Id"> &nbsp;  </span>
                            </th>
                            <th><span class="UserInfoId">UserInfo Id&nbsp;<a ng-click="sort_by('UserInfoId')"><i class="fa fa-sort"></i></a> </span></th>
                            <th><span class="MobileNumber">Mobile Number&nbsp;<a ng-click="sort_by('MobileNumber')"><i class="fa fa-sort"></i></a> </span></th>

                            <th><span class="IsSent">IsSent &nbsp;<a ng-click="sort_by('IsSent')"><i class="fa fa-sort"></i></a></span></th>
                            <th style="width:50px;"></th>
                        </tr>
                    </thead>
                    <tbody>



                        <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse" ng-include="'display'"></tr>

                    </tbody>
                </table>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">
                            <small class="text-muted inline m-t-sm m-b-sm">showing {{currentPage*itemsPerPage+1}}-{{(currentPage*(itemsPerPage)+itemsPerPage)>items.length?items.length:(currentPage*(itemsPerPage)+itemsPerPage)}} of {{items.length}} items</small>
                        </div>

                        <div class="col-sm-8 text-right text-center-xs">
                            <ul class="pagination pagination-sm m-t-none m-b-none ng-isolate-scope ng-valid">
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length)"
                                    ng-class="{active: n == currentPage}"
                                    ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </footer> 
            </div>
        </div>

        <script type="text/ng-template" id="display">

            <td><span> </span></td>
            <td><span> {{item.UserInfoId}}  </span></td>
            <td><span>{{item.MobileNumber}} </span></td>

            <td>
                <i ng-hide="item.IsSent==true" class="fa fa-times text-danger text" tooltip="IsSent" title="InActive"></i>
                <i ng-if="item.IsSent==true" class="fa fa-check text-success" tooltip="IsSent" title="IsSent"></i>
            </td>
            <td>

                <!--<a ui-sref="app.sendSms.edit({sendSmsId:item.Id})" class="text-primary text-md"><i class="fa fa-pencil "></i></a>-->
            </td>


        </script>
    </div>

</div>