@model pnsms.erp.Models.LandingViewModel
@{
    var allowedRights = Sessions.Rights;
}
<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span translate="aside.nav.HEADER">Navigation</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
            <span class="font-bold" translate="aside.nav.DASHBOARD">Dashboard</span>
        </a>
    </li>
    @if ("221010,221110".HasRights(allowedRights))
    {
        if (Sessions.InstituteId == 32)
        {
            <li ui-sref-active="active">
                <a ui-sref="app.applicationsettings.Institute">
                    <i class="fa fa-laptop text-info-dker"></i><span>System</span>
                </a>
            </li>
        }

    }

    <li class="line dk"></li>
   

    @*@if ("111010,111011".HasRights(allowedRights))
    {
        <li class="line dk"></li>
        <li>
            <a href="" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-mortar-board text-info-lt"></i>

                <span class="font-bold">Student</span>
            </a>
            <ul class="nav nav-sub dk">
                <li class="nav-sub-header">
                    <a href="">
                        <span>Student</span>
                    </a>
                </li>
                @if ("111011".HasRights(allowedRights))
                {
                    <li ui-sref-active="active">
                        <a ui-sref="app.students">
                            <span>Create Student</span>
                        </a>
                    </li>
                }

                <li ui-sref-active="active">
                    <a ui-sref="app.students">
                        <span>Student Promotion</span>
                    </a>
                </li>

                @if ("111010".HasRights(allowedRights))
                {
                    <li ui-sref-active="active">
                        <a ui-sref="app.studentlist">
                            <span>Students List</span>
                        </a>
                    </li>
                }
            </ul>
        </li>
    }*@
    @if ("111210,111211".HasRights(allowedRights))
    {
        <li>
            <a href="" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="glyphicon glyphicon glyphicon-book icon text-success"></i>
                <span class="font-bold">Employee</span>
            </a>
            <ul class="nav nav-sub dk">
                <li class="nav-sub-header">
                    <a href>
                        <span>Employee </span>
                    </a>
                </li>
                @if ("111211".HasRights(allowedRights))
                {
                    <li ui-sref-active="active">
                        <a ui-sref="app.teacher">
                            <span>Create Employee</span>
                        </a>
                    </li>
                }
                @if ("111210".HasRights(allowedRights))
                {
                    <li ui-sref-active="active">
                        <a ui-sref="app.teacherlist">
                            <span>Employee List</span>
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
    @*@if ("111110,111111".HasRights(allowedRights))
    {
        <li>
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="glyphicon  icon-users  icon text-white"></i>
                <span class="font-bold">Employee</span>
            </a>
            <ul class="nav nav-sub dk">
                <li class="nav-sub-header">
                    <a href>
                        <span>Employee</span>
                    </a>
                </li>
                @if ("111111".HasRights(allowedRights))
                {
                    <li ui-sref-active="active">
                        <a ui-sref="app.employee">
                            <span>Create Employee</span>
                        </a>
                    </li>
                }
                @if ("111110".HasRights(allowedRights))
                {
                    <li ui-sref-active="active">
                        <a ui-sref="app.employeelist">
                            <span>Employee List</span>
                        </a>
                    </li>
                }
            </ul>
        </li>
    }*@
    @*<li>
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-mortar-board text-info-lt"></i>

            <span class="font-bold">Class Monitoring </span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.studentAttendanceByTeacher.StudentAttendanceListByTeacher">
                    <span>Subject Wise Content</span>
                </a>
            </li>
        </ul>
    </li>*@
    @if ("121010,121011,121012,121110,121210".HasRights(allowedRights))
    {
        <li>
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="glyphicon glyphicon glyphicon-record icon text-warning"></i>
                <span class="font-bold">Attendance</span>
            </a>


            @*@if ("121011".HasRights(allowedRights))
            {
                <ul class="nav nav-sub dk">
                    <li ui-sref-active="active">
                        <a ui-sref="app.studentAttendanceByManagement.StudentAttendanceListByManagement">
                            <span>General Student Attendance</span>
                        </a>
                    </li>
                </ul>
            }
            @if ("121010".HasRights(allowedRights))
            {
                <ul class="nav nav-sub dk">
                    <li ui-sref-active="active">
                        <a ui-sref="app.studentAttendanceByTeacher.StudentAttendanceListByTeacher">
                            <span>Student Attendance by Teacher</span>
                        </a>
                    </li>
                </ul>
            }*@
            @*<ul class="nav nav-sub dk">
                <li ui-sref-active="active">
                    <a ui-sref="app.AttendanceFileUpload">
                        <span>Attendance File Upload</span>
                    </a>
                </li>
            </ul>*@

            @*<ul class="nav nav-sub dk">
                <li ui-sref-active="active">
                    <a ui-sref="app.AttendanceReports">
                        <span>Student Attendance Reports</span>
                    </a>
                </li>
            </ul>*@

            @*@if ("121012".HasRights(allowedRights))
            {
                <ul class="nav nav-sub dk">
                    <li ui-sref-active="active">
                        <a ui-sref="app.studentAttendance.AttendanceSheetPrint">
                            <span>Attendance Sheet</span>
                        </a>
                    </li>
                </ul>
            }*@
            @if ("121110".HasRights(allowedRights))
            {
                <ul class="nav nav-sub dk">
                    <li ui-sref-active="active">
                        <a ui-sref="app.techerAttendance.list">
                            <span>Employee Attendance</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-sub dk">
                    <li ui-sref-active="active">
                        <a ui-sref="app.UserAttendanceReports">
                            <span>Employee Attendance Reports</span>
                        </a>
                    </li>
                </ul>
            }
            <ul class="nav nav-sub dk">
                <li ui-sref-active="active">
                    <a ui-sref="app.UserAttendanceSummaryReports">
                        <span>Employee Attendance Summary Reports</span>
                    </a>
                </li>
            </ul>
            @*@if ("121210".HasRights(allowedRights))
            {
                <ul class="nav nav-sub dk">
                    <li ui-sref-active="active">
                        <a ui-sref="app.employeeAttendance.list">
                            <span>Employee</span>
                        </a>
                    </li>
                </ul>
            }*@
        </li>
    }
    @*@if ("111010,111011".HasRights(allowedRights))
    {
        <li class="line dk"></li>
        <li>
            <a href="" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-mortar-board text-info-lt"></i>

                <span class="font-bold">Class</span>
            </a>
            <ul class="nav nav-sub dk">

                <li ui-sref-active="active">
                    <a ui-sref="app.ExamType">
                        <span>Manage class</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.ExamGrade">
                        <span>Manage Section</span>
                    </a>
                </li>


            </ul>
        </li>
    }*@

    @*@if ("111010,111011".HasRights(allowedRights))
    {
        <li class="line dk"></li>
        <li>
            <a href="" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-mortar-board text-info-lt"></i>

                <span class="font-bold">Subject</span>
            </a>
            <ul class="nav nav-sub dk">

                <li ui-sref-active="active">
                    <a ui-sref="app.InstituteSubject">
                        <span>Subject List</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.SubjectType">
                        <span>Subject Type</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.SubjectAcademicClassMapping">
                        <span>Class Wise Subject Map</span>
                    </a>
                </li>


            </ul>
        </li>
    }

    @if ("131010,131110,131210".HasRights(allowedRights))
    {
        <li>
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class=" icon-anchor icon text-warning"></i>
                <span class="font-bold">Admission</span>
            </a>
            <ul class="nav nav-sub dk">
                <li ui-sref-active="active">
                    <a ui-sref="app.onlineAdmission.list">
                        <span>Online List</span>
                    </a>
                </li>
            </ul>
        </li>
    }
    @if ("111010,111011".HasRights(allowedRights))
    {
        <li class="line dk"></li>
        <li>
            <a href="" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-mortar-board text-info-lt"></i>

                <span class="font-bold">Exam</span>
            </a>
            <ul class="nav nav-sub dk">
                
                <li ui-sref-active="active">
                    <a ui-sref="app.ExamType">
                        <span>Exam Type</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.ExamGrade">
                        <span>Exam Grading</span>
                    </a>
                </li>
               
                <li ui-sref-active="active">
                    <a ui-sref="app.Exam">
                        <span>Exam </span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.ExamSubjectMarks">
                        <span>Exam Marks</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.ExamProcess">
                        <span>Exam Process</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.ExamTabulationSheet">
                        <span>Tubaltion Marks</span>
                    </a>
                </li>
            </ul>
        </li>
    }

    @if ("151010,151011".HasRights(allowedRights))
    {
        <li>
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class=" icon-calculator icon text-info"></i>
                <span class="font-bold">Fees Collection</span>
            </a>
            <ul class="nav nav-sub dk">
               
                <li ui-sref-active="active">
                    <a ui-sref="app.feesCollection.feesHeads">
                        <span>Fees Head</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.feesCollection.feesType">
                        <span>Fees Type</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.feesCollection.feesSetup">
                        <span>fees Setup</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.mobilepayment.list">
                        <span>Mobile Payment</span>
                    </a>
                </li>
               
                <li ui-sref-active="active">
                    <a ui-sref="app.feesCollection.feesCollection">
                        <span>Fees Collection</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.feesCollection.ledger">
                        <span>Student Ledger</span>
                    </a>
                </li>
            </ul>
        </li>
    }
    <li>
        <a href="#" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class=" icon-docs icon text-info"></i>
            <span class="font-bold">Result</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.resultPublish.list">
                    <span>Publish</span>
                </a>
            </li>
        </ul>
    </li>*@

    @if ("161010,161110".HasRights(allowedRights))
    {
        <li>
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class=" icon-speech icon text-warning"></i>
                <span class="font-bold">SMS</span>
            </a>
            <ul class="nav nav-sub dk">
                <li ui-sref-active="active">
                    <a ui-sref="app.smsTemplate.list">
                        <span>Template</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.sendSms.list">
                        <span>Send SMS</span>
                    </a>
                </li>
            </ul>
        </li>
    }

    @*@if ("171010".HasRights(allowedRights))
    {
        <li>
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class=" icon-credit-card icon text-info"></i>
                <span class="font-bold">Certificate</span>
            </a>
            <ul class="nav nav-sub dk">
                <li ui-sref-active="active">
                    <a ui-sref="app.certificatePrint.create">
                        <span>Print</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.certificatePrint.list">
                        <span>List</span>
                    </a>
                </li>
            </ul>
        </li>
    }*@

    @*@if ("0".HasRights(allowedRights))
    {
        <li>
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="icon-feed  icon text-info"></i>
                <span class="font-bold">Contact Us & &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FeedBack</span>
            </a>
            <ul class="nav nav-sub dk">
                <li ui-sref-active="active">
                    <a ui-sref="app.contactFeedback.list">
                        <span>List</span>
                    </a>
                </li>
            </ul>
        </li>
    }
    @if ("0".HasRights(allowedRights))
    {
        <li>
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class=" icon-control-play icon text-info"></i>
                <span class="font-bold">Contents</span>
            </a>
            <ul class="nav nav-sub dk">
                <li ui-sref-active="active">
                    <a ui-sref="app.contents.create">
                        <span>Upload</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.contents.list">
                        <span>List</span>
                    </a>
                </li>
            </ul>
        </li>
    }*@
  
    @*<li>
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="icon-calendar"></i>
            <span class="font-bold">Time Table</span>
        </a>
        <ul class="nav nav-sub dk">

            <li class="nav-sub-header">
                <a href="" style="cursor:default">
                    <span class="font-bold ">Time Table</span>
                </a>
            </li>
          
            <li ui-sref-active="active">
                <a ui-sref="app.routineSettings.period">
                    <span class=" ">Configuration</span>
                </a>
            </li>

           
            <li>
                <a href class="auto">
                    <span class="pull-right text-muted">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <span>Subject</span>
                </a>
                <ul class="nav dker">
                  
                    <li ui-sref-active="active">
                        <a ui-sref="app.resultConfig.subject">
                            <span>Subject List</span>
                        </a>
                    </li>
                   
                    <li ui-sref-active="active">
                        <a ui-sref="app.subjectStudentMapping.list">
                            <span>Student Subject Mapping</span>
                        </a>
                    </li>
                   
                    <li ui-sref-active="active">
                        <a ui-sref="app.resultConfig.SubjectAcademicClassMapping">
                            <span>Classwise Subjects</span>
                        </a>
                    </li>
                   
                    <li ui-sref-active="active">
                        <a ui-sref="app.routineSubjectGroup">
                            <span>Subject Groups</span>
                        </a>
                    </li>
                  
                    <li ui-sref-active="active">
                        <a ui-sref="app.studentSubChoice.list">
                            <span>Groupwise Students</span>
                        </a>
                    </li>
                   
                </ul>
            </li>
           
            <li ui-sref-active="active">
                <a ui-sref="app.AcademicCalendar">
                    <span>Academic Calendar</span>
                </a>
            </li>
          
            <li ui-sref-active="active">
                <a ui-sref="app.AcademicCalendarNew">
                    <span>Academic Calendar New</span>
                </a>
            </li>
           
            <li ui-sref-active="active">
                <a ui-sref="app.routine.list">
                    <span class=" ">Routine</span>
                </a>
            </li>
           
            <li ui-sref-active="active">
                <a ui-sref="app.routine.teacher">
                    <span class=" ">Teacher Routine</span>
                </a>
            </li>
           
            <li ui-sref-active="active">
                <a ui-sref="app.routine.facultyMeetingsList">
                    <span class=" ">Faculty Meetings</span>
                </a>
            </li>
           
            <li ui-sref-active="active">
                <a ui-sref="app.routine.teacherDutyList">
                    <span class=" ">Teacher DutyList</span>
                </a>
            </li>
           
            <li ui-sref-active="active">
                <a ui-sref="app.routine.substitutionDuty">
                    <span class=" ">Substitution Duty</span>
                </a>
            </li>
           
            <li ui-sref-active="active">
                <a ui-sref="app.routine.classCancelation">
                    <span class=" ">Class Cancelation</span>
                </a>
            </li>
           

        </ul>
    </li>*@
   
    @*<li ui-sref-active="active">
        <a ui-sref="app.eDiaryList.list">
            <i class="icon-note"></i>
            <span class="font-bold">e-Diary</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.libraryBook.list">
          
            <i class="icon-book-open icon text-primary-dker"></i>
            <span class="font-bold">Library</span>
        </a>
    </li>
    <li>
        <a href="#" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class=" icon-bulb icon text-info"></i>
            <span class="font-bold">Accounts</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.voucherEntry.create">
                    <span>Voucher Entry</span>
                </a>
            </li>
        </ul>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.BankAccount">
                    <span>Bank Account</span>
                </a>
            </li>
        </ul>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.VendorAccount">
                    <span> Vendor Setup</span>
                </a>
            </li>
        </ul>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.GLAccount">
                    <span>GL Account Tree</span>
                </a>
            </li>
        </ul>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.GLSubsidyType">
                    <span>GLSubsidyTypeMap</span>
                </a>
            </li>
        </ul>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.RelatedAccount">
                    <span>Related Account</span>
                </a>
            </li>
        </ul>
    </li>*@
   
  

    @if ("101010,191010,191011,201010,201011,211010,211011".HasRights(allowedRights))
    {
        <li class="line dk"></li>
        <li>
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-globe text-info-lter"></i>
                <span class="font-bold">Web manager</span>
            </a>
            <ul class="nav nav-sub dk">
                <li class="nav-sub-header">
                    <a href>
                        <span>Web manager</span>
                    </a>
                </li>@if ("101010".HasRights(allowedRights))
                {
                    <li ui-sref-active="active">
                        <a ui-sref="app.webmanager.welcometext({infoText:'WelComeText'})">
                            <i class="fa fa-info-circle  text-primary-lter"></i>
                            <span>Basic Info</span>
                        </a>
                    </li>
                }
                @if ("211010,211011".HasRights(allowedRights))
                {
                    <li ui-sref-active="active">
                        <a ui-sref="app.gallery.list">
                            <i class="glyphicon glyphicon-picture  text-primary-lter"></i>
                            <span>Gallery</span>
                        </a>
                    </li>
                }
                @if ("201010,201011".HasRights(allowedRights))
                {
                    <li ui-sref-active="active">
                        <a ui-sref="app.event.eventList">
                            <i class="glyphicon glyphicon-calendar  text-warning-lter"></i>
                            <span>Event</span>
                        </a>
                    </li>
                }
                @if ("191010,191011".HasRights(allowedRights))
                {
                    <li ui-sref-active="active">
                        <a ui-sref="app.notice.noticeList">
                            <i class="fa fa-file  text-danger-lter"></i>
                            <span class="font-bold">Notice</span>
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
    @if ("101110,101210,181010".HasRights(allowedRights))
    {

        <li>
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="glyphicon glyphicon-cog icon text-info-lter"></i>
                <span class="font-bold">Settings</span>
            </a>
            <ul class="nav nav-sub dk">
                <li class="nav-sub-header">
                    <a href>
                        <span>Settings</span>
                    </a>
                </li>
                @if ("101110".HasRights(allowedRights))
                {
                    <li ui-sref-active="active">
                        <a ui-sref="app.institutesettings.InstituteCurrent">
                            <i class="fa fa-university text-warning"></i><span>Basic Setup </span>
                        </a>
                    </li>
                }

                <li ui-sref-active="active">
                    <a ui-sref="app.institutesettings.InstituteCurrent">
                        <i class="fa fa-university text-warning"></i><span>Finger Print Collection</span>
                    </a>
                </li>

                @if ("101210".HasRights(allowedRights))
                {
                    <li ui-sref-active="active">
                        <a ui-sref="app.usersettings.BloodGroup">
                            <i class="fa fa-users text-success"></i><span>User</span>
                        </a>
                    </li>
                }
                @if ("181010".HasRights(allowedRights))
                {
                    <li ui-sref-active="active">
                        <a ui-sref="app.rolessettings.Roles">
                            <i class="fa fa-check-square-o text-danger"></i><span>Roles</span>
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
    <li class="line dk"></li>
    <li>
        <a ng-click="app.settings.asideFolded = !app.settings.asideFolded" class="auto" href="">

            <i class="fa fa-fw fa-dedent"></i>
            <span class="font-bold">collapse</span>
        </a>
    </li>
</ul>

