<div ng-controller="EmployeeEditCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Employee: {{VmEmployee.UserInfo.Name}}</h1>
    </div>

    <div class="wrapper-md">

        <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>

        <form role="form" class="form-validation" ng-submit="AddEmployee()" ng-hide="isLoading">
            <tabset justified="false" class="tab-container">
                <tab heading="Employee Info">
                    <tab-heading>
                        General Information
                    </tab-heading>
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" ng-change="VmEmployee.UserInfo.Name=(VmEmployee.UserInfo.FirstName+' '+VmEmployee.UserInfo.MiddleName+' '+VmEmployee.UserInfo.LastName)" required data-ng-model="VmEmployee.UserInfo.FirstName" placeholder="First Name" type="text">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Middle Name</label>
                                <input class="form-control" ng-change="VmEmployee.UserInfo.Name=(VmEmployee.UserInfo.FirstName+' '+VmEmployee.UserInfo.MiddleName+' '+VmEmployee.UserInfo.LastName )" data-ng-model="VmEmployee.UserInfo.MiddleName" placeholder="Middle Name" type="text">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" ng-change="VmEmployee.UserInfo.Name=(VmEmployee.UserInfo.FirstName+' '+VmEmployee.UserInfo.MiddleName+' '+VmEmployee.UserInfo.LastName)" data-ng-model="VmEmployee.UserInfo.LastName" placeholder="Last Name" type="text">
                            </div>
                        </div>

                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Designation</label>


                                <select ng-model="VmEmployee.UserInfo.Employee.DesignationId" required class="form-control m-b" ng-options="c.Key as c.Value for c in VmEmployee.UserInfo.Employee.DesignationList">
                                    <option value="">-- Choose Designation --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Department</label>


                                <select ng-model="VmEmployee.UserInfo.Employee.DepartmentId" required class="form-control m-b" ng-options="c.Key as c.Value for c in VmEmployee.UserInfo.Employee.DepartmentList">
                                    <option value="">-- Choose Department --</option>
                                </select>
                            </div>
                        </div> 
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Father Name</label>
                                <input class="form-control" data-ng-model="VmEmployee.UserInfo.Employee.FatherName" placeholder="Father Name" type="text">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Mother Name</label>
                                <input class="form-control" data-ng-model="VmEmployee.UserInfo.Employee.MotherName" placeholder="Mother Name" type="text">
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="row"> 
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Marital Status</label>


                                <select ng-model="VmEmployee.UserInfo.Employee.MaritalStatusId" class="form-control m-b" ng-options="c.Key as c.Value for c in VmEmployee.UserInfo.Employee.MaritalStatusList">
                                    <option value="">-- Choose Marital Status --</option>
                                </select>
                            </div>
                        </div>
                      
                        
                    </div>
                    <div class="row" ng-show="VmEmployee.UserInfo.Employee.AcademicBranchList.length>1">

                        <div class="col-sm-2" ng-repeat="branch in  VmEmployee.UserInfo.Employee.AcademicBranchList">

                            <div class="form-group">
                                <label ng-if="$index==0">Branch</label>
                                <label ng-if="$index>0">&nbsp;</label>
                                <div>
                                    <label class="i-checks m-b-none">
                                        <input ng-click="checkBoxChange()" ng-required="checkBoxChange()==0" id="ss" name="cbBranch" ng-checked="(VmEmployee.UserInfo.Employee.AcademicBranches.indexOf(branch.Key)>-1)" value="{{branch.Key}}" type="checkbox"> <i></i>{{branch.Value}}
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" ng-repeat="role in  VmEmployee.UserInfo.RoleList">
                            <div class="form-group">
                                <label ng-if="$index==0"> Role</label>
                                <label ng-if="$index>0">&nbsp;</label>
                                <div>
                                    <label class="i-checks m-b-none">
                                        <input ng-click="checkBoxRoleChange()" ng-required="checkBoxRoleChange()==0" ng-checked="(VmEmployee.UserInfo.UserRoles.indexOf(role.Key)>-1)" name="cbRole" value="{{role.Key}}" type="checkbox"> <i></i>{{role.Value}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Active  &nbsp;</label>
                                <div>
                                    <label class="i-checks m-b-none">

                                        <input type="checkbox" data-ng-model="VmEmployee.UserInfo.IsActive"> <i></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="row">

                        <div class="col-sm-1" style="float: none; margin: 0 auto;">
                            <a class="" ng-show="isCollapsed" ng-init="isCollapsed = false" ng-click="isCollapsed = !isCollapsed">More <i class="fa fa-arrow-down"></i></a> &nbsp;
                            <a class="" ng-hide="isCollapsed" ng-click="isCollapsed = !isCollapsed">Less <i class="fa fa-arrow-up"></i></a> &nbsp;
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="row" collapse="isCollapsed" ng-init="isCollapsed = true">

                        <div class="col-sm-3">
                            <div class="form-group">

                                <label>Gender</label>

                                <select ng-model="VmEmployee.UserInfo.GenderId" class="form-control m-b" ng-options="c.Key as c.Value for c in VmEmployee.UserInfo.GenderList">
                                    <option value="">-- Choose Gender --</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">

                                <label>Date of Birth</label>
                                {{bYear+"-"+month+"-"+bDay}}
                                <div>
                                    <div style="width: 43%" class="pull-left">
                                        <select ng-model="month" class="form-control m-b" ng-options="c.Key as c.Value for c in Months" ng-change="VmEmployee.UserInfo.DOB=(bYear+'-'+month+'-'+bDay)">
                                            <option value="">Month</option>
                                        </select>
                                    </div>
                                    <div style="width: 27%" class="pull-left">

                                        <input ui-jq="TouchSpin" ng-change="VmEmployee.UserInfo.DOB=(bYear+'-'+month+'-'+bDay)" type="text" data-ng-model="bDay" placeholder="DD" value="10" class="form-control" data-min='1' data-max="31" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down">
                                    </div>

                                    <div style="width: 30%" class="pull-left">

                                        <input ui-jq="TouchSpin" ng-change="VmEmployee.UserInfo.DOB=(bYear+'-'+month+'-'+bDay)" type="text" data-ng-model="bYear" placeholder="YYYY" value="10" class="form-control" data-min='1970' data-max="2030" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down">
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>SSN</label>
                                <input class="form-control" data-ng-model="VmEmployee.UserInfo.SSN" placeholder="SSN" type="text">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>PassportNo</label>

                                <input class="form-control" data-ng-model="VmEmployee.UserInfo.PassportNo" placeholder="Passport No " type="text">

                            </div>
                        </div>
                    </div>

                    <div class="row" collapse="isCollapsed" ng-init="isCollapsed = true">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Religion</label>
                                <select data-ng-model="VmEmployee.UserInfo.ReligionId" class="form-control m-b" ng-options="c.Key as c.Value for c in  VmEmployee.UserInfo.ReligionList">
                                    <option value="">-- Choose Religion --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Nationality</label>
                                <select data-ng-model="VmEmployee.UserInfo.NationalityId" class="form-control m-b" ng-options="c.Key as c.Value for c in   VmEmployee.UserInfo.NationalityList">
                                    <option value="">-- Choose Nationality --</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Blood Group</label>

                                <select data-ng-model="VmEmployee.UserInfo.BloodGroupId" class="form-control m-b" ng-options="c.Key as c.Value for c  in  VmEmployee.UserInfo.BloodGroupList">
                                    <option value="">-- Choose Blood Group --</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Email Address</label>
                                <input class="form-control" type="email" data-ng-model="VmEmployee.UserInfo.EmailAddress" placeholder="EmailAddress" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row" collapse="isCollapsed" ng-init="isCollapsed = true">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Primary Contact Number</label>
                                <input class="form-control" data-ng-model="VmEmployee.UserInfo.ContactNumber1" placeholder="Primary Contact Number " type="text">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">

                                <label>Secondary Contact Number</label>

                                <input class="form-control" data-ng-model="VmEmployee.UserInfo.ContactNumber2" placeholder="Secondary Contact Number" type="text">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Google</label>
                                <input class="form-control" data-ng-model="VmEmployee.UserInfo.GoogleId" placeholder="Google" type="text">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Facebook</label>
                                <input class="form-control" data-ng-model="VmEmployee.UserInfo.FacebookId" placeholder="Facebook" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row" collapse="isCollapsed" ng-init="isCollapsed = true">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Microsoft</label>
                                <input class="form-control" data-ng-model="VmEmployee.UserInfo.MicrosoftId" placeholder="Microsoft" type="text">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Twitter</label>
                                <input class="form-control" data-ng-model="VmEmployee.UserInfo.TwitterId " placeholder="Twitter" type="text">
                            </div>
                        </div>
                      
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-2 ">
                                <a ui-sref="app.employeelist" class="btn btn-default pull-left"><i class="icon-action-undo"></i> &nbsp;Back to List</a>
                            </div>
                            <div class="col-sm-2   pull-right">
                                <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Save</button>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Address Info">
                    <tab-heading>
                        Address Information <span class="badge bg-primary badge-sm m-l-xs">{{VmEmployee.Addresses.length}}</span>
                    </tab-heading>
                    <div ng-if="address.IsActive" ng-repeat="address in VmEmployee.Addresses">
                        <div class="panel panel-primary">

                            <div class="panel-heading wrapper-xs bg-primary no-border">
                                Address {{$index+1}}: <button type="button" class="close" ng-click="removeAddress($index)">
                                                          <span aria-hidden="true">×</span>
                                                          <span class="sr-only">Close</span>
                                                      </button>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Address Type</label>
                                            <select ng-model="address.AddressTypeId" required="" class="form-control m-b" ng-options="c.Key as c.Value for c in VmEmployee.SingleAddresses.AddressTypeList">
                                                <option value="">-- Choose AddressType --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <select ng-change="if(selectedCountry=='')(address.DistrictOrStateId='')" ng-model="selectedCountry" class="form-control m-b" ng-options="c.Key as c.Value for c in VmEmployee.CountryList">
                                                <option value="">-- Choose Country --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>District Or State</label>
                                            <select ng-model="address.DistrictOrStateId" ng-init="selectedCountry=(address.DistrictOrStateId!=null?(VmEmployee.DistrictOrStateList | filter:{Id: address.DistrictOrStateId})[0].CountryId : null)" class="form-control m-b" ng-options="c.Id as c.Name for c in VmEmployee.DistrictOrStateList | filter:{CountryId: selectedCountry}">
                                                <option value="">-- Choose District --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>
                                                Zip Code
                                            </label>
                                            <input class="form-control" data-ng-model="address.ZipCode" placeholder="Zip Code" type="text">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Address Body</label>
                                            <textarea placeholder="Address" rows="3" class="form-control" data-ng-model="address.AddressBody"></textarea>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3" style="float: none; margin: 0 auto;">
                        <a class="" data-ng-click="isCollapsedAddress = false;addAddress()"><span class="glyphicon glyphicon-plus"></span> Add New Address</a> &nbsp;
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-2 ">
                                <a ui-sref="app.employeelist" class="btn btn-default pull-left"><i class="icon-action-undo"></i> &nbsp;Back to List</a>
                            </div>
                            <div class="col-sm-2   pull-right">
                                <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Save</button>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Photo Info">
                    <tab-heading>
                        Photo Information
                    </tab-heading>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">


                                <input tabindex="-1" style="clip: rect(0px, 0px, 0px, 0px); "
                                       id="fileInput"
                                       ui-jq="filestyle"
                                       data-icon="false" uploader="uploaderPhotoUrl"
                                       data-classbutton="btn btn-default"
                                       data-classinput="form-control inline v-middle "
                                       change-on-fly="true" type="file" />


                            </div>
                        </div>
                        <!--<div class="col-sm-2">

                                <a class="btn btn-success" ng-click=" Upload()" ng-disabled="image.myCroppedImage.length<500 || uploaderPhotoUrl.queue[0].isReady || uploaderPhotoUrl.queue[0].isUploading || uploaderPhotoUrl.queue[0].isSuccess">Upload</a>
                                <a class="btn btn-danger pull-right" ng-click="uploaderPhotoUrl.queue[0].remove();" ng-disabled="uploaderPhotoUrl.queue.length==0">Remove</a>
                            </div>-->

                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="wrapper-sm b-a bg-white m-r-xs m-b-xs">
                                <div class="bg-light" style="height:320px">
                                    <img-crop image="image.myImage"
                                              result-image="image.myCroppedImage"
                                              result-image-size="160"
                                              area-type="{{cropType}}"></img-crop>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="inline bg-white wrapper-sm b-a">

                                <div class="bg-light">
                                    <img ng-hide="image.myCroppedImage.length<500" ng-src="{{image.myCroppedImage}}" />
                                    <img ng-show="image.myCroppedImage.length<500" onerror="$(this).attr('src', 'img/404_error_image.png');" ng-src="{{ apiUrlPrefix+'api/image/refcode?id='+VmEmployee.UserInfo.Id+'&refcode=Userinfo_Photo'}}" width="160px" />
                                </div>
                                <progressbar class="progress-striped active" value="100" type="warning" ng-show="isUploading">Loading...  </progressbar>
                            </div>
                        </div>
                        <div class="col-lg-4">

                            <!--<a class="btn btn-success" ng-click=" Upload()" ng-disabled="image.myCroppedImage.length<500 || uploaderPhotoUrl.queue[0].isReady || uploaderPhotoUrl.queue[0].isUploading || uploaderPhotoUrl.queue[0].isSuccess">Upload</a>-->
                            <a class="btn btn-danger" ng-click="image.myImage=null;" ng-disabled="image.myCroppedImage.length<500">Remove</a>
                        </div>
                    </div>

                    <div class="line line-dashed b-b line-lg pull-in"></div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-2 ">
                                <a ui-sref="app.employeelist" class="btn btn-default pull-left"><i class="icon-action-undo"></i> &nbsp;Back to List</a>
                            </div>
                            <div class="col-sm-2   pull-right">
                                <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Save</button>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </form>

    </div>

</div>
<style>
    .input-group-btn-vertical {
        display: none !important;
    }
</style>