

<div class="wrapper-md" ng-controller="InstituteSubjectCtrl">

    <progressbar class="progress-striped active" value="100" type="info" ng-show="isLoading">Loading...  </progressbar>
    <div class="panel panel-default" ng-hide="isLoading">
        <div class="panel-heading">
            <span class="h4">Subjects Map</span>

        </div>

        <div class="panel-body">
           
            <progressbar class="progress-striped active" value="100" type="info" ng-show="isDataLoading">Loading...  </progressbar>
            <form role="form" name="formlst" class="form-validation" method="post">
               
                  

                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>

                                <th><span class="SubjectName">&nbsp; Select Subject<a ng-click="sort_by('subject')"></a> </span></th>
                               
                                <th><span>Global Subject Name </span></th>
                               
                                <th><span>Institute Subject Name </span></th>
                            </tr>
                        </thead>
                        <tbody>


                         

                            <tr ng-repeat="item in lstInstituteSubject| orderBy:'-Id' | filter:query">
                               
                                <td ng-hide="true">
                                    {{ item.Id }}
                                </td>

                                <td ng-hide="true">{{ item.SubjectId }}</td>


                                <td>


                                    <label class="i-checks m-b-none" ng-init="item.Id?item.IsActive=true:item.IsActive=false;">

                                        <input value="{{item.IsActive}}" ng-model="item.IsActive" type="checkbox"><i>
                                        </i>


                                    </label>
                                </td>

                                <td>{{ item.Subject.Name }}</td>
                                <td>
                                    <input ng-model="item.Name" class="form-control m-b" type="text">
                                </td>


                            </tr>


                        </tbody>
                    </table>
                    <footer class="panel-footer" ng-hide="showCopyForm">
                        <div class="row">

                            <div class="col-sm-3 m-b-xs pull-right">

                                <button data-ng-click="Add()" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Save</button>
                             
                            </div>


                        </div>
                    </footer>
               
            </form>
        </div>
    </div>


</div>


