@model IEnumerable<deepp.Entities.Models.Governingbody>
@{
    ViewBag.Title = "Governing Bodies";
}
<main id="main-content">
    <!-- Main Section -->
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="page-content">
                    <!-- Page Section -->
                    <div style="margin-top: 0px;margin-bottom: 0px;border-top: 0px #e0e0e0 solid;border-bottom: 0px #e0e0e0 solid;" class="page-section ">
                        <!-- Container Start -->
                        <div class="container">
                            <div class="row">
                                <div class="section-fullwidth">
                                    <div class="element-size-100"><div class="cs-heading-sec col-md-12"><div style="border-bottom:1px solid #ebebe9 !important;" class="inner-sec"><h1 style="color: !important; font-size: 30px !important; text-align:left;;">@ViewBag.Title</h1><div style="color: !important; text-align: left;;">													</div></div></div></div><div class="element-size-100">

                                        <div class="cs-team team-box col-md-12">

                                            <div class="graybackground">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <div class="overlayslide-team">
                                                            <a href="http://uoce.chimpgroup.com/teams/tailor-jim/">
                                                                <img alt="UOCE-Team-Members-12" src="http://uoce.chimpgroup.com/wp-content/uploads/UOCE-Team-Members-12.jpg" class="media-object">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 style="color: !important"><a href="http://uoce.chimpgroup.com/teams/tailor-jim/">Tailor Jim</a></h4>
                                                        <h3 style="color: !important">SCIENCE</h3>
                                                        <p style="color: !important" class="whitecolor-text">
                                                            Pangolin regarding rabbit ahead dolorously soothingly ouch unbound excluding sewed and hedgehog unsuccessfully struck labrador besides and yet by goodness much bowed meadowlar
                                                        </p>
                                                        <div class="contactdiv">
                                                            <ul>
                                                                <li>

                                                                    <a class="emaildiv" href="mailto:info@example.com">
                                                                        <span><i class="icon-envelope4"></i></span>info@example.com
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <span><i class="icon-phone6"></i></span>
                                                                    (800) 123 456 789
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-12 marginleft">
                                                            <div class="social-media-blog">
                                                                <ul>
                                                                    <ul>

                                                                        <li><a class="icon-facebook2" data-original-title="Facebook" href="http://facebook.com"></a></li>

                                                                        <li><a class="icon-twitter6" data-original-title="Twitter" href="http://twitter.com"></a></li>

                                                                        <li><a class="icon-googleplus7" data-original-title="GooglePlus" href="http://google.com"></a></li>

                                                                        <li><a class="icon-instagram4" data-original-title="Instagram" href="http://linkedin.com"></a></li>

                                                                        <li><a class="icon-envelope4" data-original-title="Email" href="mailto:info@example.com"> <span>Email</span></a></li>
                                                                    </ul>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="graybackground">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <div class="overlayslide-team">
                                                            <a href="http://uoce.chimpgroup.com/teams/brown/">
                                                                <img alt="UOCE-Team-Members-10" src="http://uoce.chimpgroup.com/wp-content/uploads/UOCE-Team-Members-10.jpg" class="media-object">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 style="color: !important"><a href="http://uoce.chimpgroup.com/teams/brown/">BROWN</a></h4>
                                                        <h3 style="color: !important">FINE ARTS</h3>
                                                        <p style="color: !important" class="whitecolor-text">
                                                            Pangolin regarding rabbit ahead dolorously soothingly ouch unbound excluding sewed and hedgehog unsuccessfully struck labrador besides and yet by goodness much bowed meadowlar
                                                        </p>
                                                        <div class="contactdiv">
                                                            <ul>
                                                                <li>

                                                                    <a class="emaildiv" href="mailto:info@example.com">
                                                                        <span><i class="icon-envelope4"></i></span>info@example.com
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <span><i class="icon-phone6"></i></span>
                                                                    (800) 123 456 789
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-12 marginleft">
                                                            <div class="social-media-blog">
                                                                <ul>
                                                                    <ul>

                                                                        <li><a class="icon-facebook2" data-original-title="Facebook" href="http://facebook.com"></a></li>

                                                                        <li><a class="icon-twitter6" data-original-title="Twitter" href="http://twitter.com"></a></li>

                                                                        <li><a class="icon-googleplus7" data-original-title="GooglePlus" href="http://google.com"></a></li>

                                                                        <li><a class="icon-instagram4" data-original-title="Instagram" href="http://linkedin.com"></a></li>

                                                                        <li><a class="icon-envelope4" data-original-title="Email" href="mailto:info@example.com"> <span>Email</span></a></li>
                                                                    </ul>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="graybackground">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <div class="overlayslide-team">
                                                            <a href="http://uoce.chimpgroup.com/teams/kimmi-brown/">
                                                                <img alt="UOCE-Team-Members-09" src="http://uoce.chimpgroup.com/wp-content/uploads/UOCE-Team-Members-09.jpg" class="media-object">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 style="color: !important"><a href="http://uoce.chimpgroup.com/teams/kimmi-brown/">KIMMI BROWN</a></h4>
                                                        <h3 style="color: !important">POLITICAL SCIENCE</h3>
                                                        <p style="color: !important" class="whitecolor-text">
                                                            Pangolin regarding rabbit ahead dolorously soothingly ouch unbound excluding sewed and hedgehog unsuccessfully struck labrador besides and yet by goodness much bowed meadowlar
                                                        </p>
                                                        <div class="contactdiv">
                                                            <ul>
                                                                <li>

                                                                    <a class="emaildiv" href="mailto:info@example.com">
                                                                        <span><i class="icon-envelope4"></i></span>info@example.com
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <span><i class="icon-phone6"></i></span>
                                                                    (800) 123 456 789
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-12 marginleft">
                                                            <div class="social-media-blog">
                                                                <ul>
                                                                    <ul>

                                                                        <li><a class="icon-facebook2" data-original-title="Facebook" href="http://facebook.com"></a></li>

                                                                        <li><a class="icon-twitter6" data-original-title="Twitter" href="http://twitter.com"></a></li>

                                                                        <li><a class="icon-googleplus7" data-original-title="GooglePlus" href="http://google.com"></a></li>

                                                                        <li><a class="icon-instagram4" data-original-title="Instagram" href="http://linkedin.com"></a></li>

                                                                        <li><a class="icon-envelope4" data-original-title="Email" href="mailto:info@example.com"> <span>Email</span></a></li>
                                                                    </ul>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            <aside class="page-sidebar">
                    <div class="widget cs_ads_banner"><div class="cs_banner_section"><a target="_blank" href="" id="cs_banner_clicks276833028" onclick="cs_banner_click_count_plus('http://uoce.chimpgroup.com/wp-admin/admin-ajax.php', '276833028')"><img alt="Sidebar" src="http://uoce.chimpgroup.com/wp-content/uploads/add-img.jpg"></a></div></div><div class="widget widget_tabs">

                        <div class="widget element-size-100 widget_tabs">

                            <div class="widget-section-title">
                                <h6>
                                    Recent News
                                </h6>
                            </div>
                            <ul class="tab-nav">
                                <li class="active"><a href="#tab1"><i class="icon-user9"></i></a></li>
                                <li><a href="#tab2"><i class="icon-tag7"></i></a></li>
                                <li><a href="#tab3"><i class="icon-folder5"></i></a></li>
                            </ul>
                            <div class="tab-content">
                                <div style="display: block;" id="tab1" class="tabs news">
                                    <ul>
                                        <li>
                                            <span class="cat"><a rel="tag" href="http://uoce.chimpgroup.com/category/masonry/">Masonry</a></span>
                                            <a href="http://uoce.chimpgroup.com/law-degree-is-the-most-valuable-degree/">Law degree is the Most valuable degree</a>
                                            <span class="info">

                                                <time datetime="2008-02-14">June 29, 2015</time>
                                                5Comments
                                            </span>

                                        </li>

                                        <li>
                                            <span class="cat"><a rel="tag" href="http://uoce.chimpgroup.com/category/masonry/">Masonry</a></span>
                                            <a href="http://uoce.chimpgroup.com/less-unavoidable-educationally/">Less unavoidable educationally</a>
                                            <span class="info">

                                                <time datetime="2008-02-14">June 29, 2015</time>
                                                4Comments
                                            </span>

                                        </li>

                                        <li>
                                            <span class="cat"><a rel="tag" href="http://uoce.chimpgroup.com/category/masonry/">Masonry</a></span>
                                            <a href="http://uoce.chimpgroup.com/international-education-authority/">International education authority</a>
                                            <span class="info">

                                                <time datetime="2008-02-14">June 29, 2015</time>
                                                4Comments
                                            </span>

                                        </li>


                                    </ul>
                                </div>
                                <div style="display: none;" id="tab2" class="tabs news">
                                    <ul>
                                        <li>
                                            <span class="cat"><a rel="tag" href="http://uoce.chimpgroup.com/category/masonry/">Masonry</a></span>
                                            <a href="http://uoce.chimpgroup.com/law-degree-is-the-most-valuable-degree/">Law degree is the Most valuable degree </a>
                                            <span class="info">
                                                <time datetime="2008-02-14">June 29, 2015</time>

                                                5Comments
                                            </span>

                                        </li>
                                        <li>
                                            <span class="cat"><a rel="tag" href="http://uoce.chimpgroup.com/category/education/">Education</a>, <a rel="tag" href="http://uoce.chimpgroup.com/category/traning/">Traning</a></span>
                                            <a href="http://uoce.chimpgroup.com/what-if-testing-better-learning/">What If Testing Better Learning? </a>
                                            <span class="info">
                                                <time datetime="2008-02-14">June 2, 2014</time>

                                                4Comments
                                            </span>

                                        </li>
                                        <li>
                                            <span class="cat"><a rel="tag" href="http://uoce.chimpgroup.com/category/education/">Education</a>, <a rel="tag" href="http://uoce.chimpgroup.com/category/learning/">Learning</a></span>
                                            <a href="http://uoce.chimpgroup.com/a-powerful-tool-for-parents-teachers/">A Powerful Tool for Parents, Teachers </a>
                                            <span class="info">
                                                <time datetime="2008-02-14">June 12, 2014</time>

                                                4Comments
                                            </span>

                                        </li>
                                    </ul>
                                </div>
                                <div style="display: none;" id="tab3" class="tabs news">
                                    <ul>
                                        <li>
                                            <span class="cat"><a rel="tag" href="http://uoce.chimpgroup.com/category/masonry/">Masonry</a></span>
                                            <a href="http://uoce.chimpgroup.com/law-degree-is-the-most-valuable-degree/">Law degree is the Most valuable degree</a>
                                            <span class="info">
                                                <time datetime="2008-02-14">June 29, 2015</time>

                                                5Comments
                                            </span>
                                        </li>
                                        <li>
                                            <span class="cat"><a rel="tag" href="http://uoce.chimpgroup.com/category/masonry/">Masonry</a></span>
                                            <a href="http://uoce.chimpgroup.com/less-unavoidable-educationally/">Less unavoidable educationally</a>
                                            <span class="info">
                                                <time datetime="2008-02-14">June 29, 2015</time>

                                                4Comments
                                            </span>
                                        </li>
                                        <li>
                                            <span class="cat"><a rel="tag" href="http://uoce.chimpgroup.com/category/masonry/">Masonry</a></span>
                                            <a href="http://uoce.chimpgroup.com/international-education-authority/">International education authority</a>
                                            <span class="info">
                                                <time datetime="2008-02-14">June 29, 2015</time>

                                                4Comments
                                            </span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><div class="widget widget_tag_cloud">
                        <div class="widget-section-title"><h6>Tag Cloud</h6></div><div class="tagcloud">
                            <a style="font-size: 9.86666666667pt;" title="10 topics" class="tag-link-12 tag-link-deeppition-1" href="http://uoce.chimpgroup.com/tag/college/">College</a>
                            <a style="font-size: 8pt;" title="9 topics" class="tag-link-13 tag-link-deeppition-2" href="http://uoce.chimpgroup.com/tag/courses/">Courses</a>
                            <a style="font-size: 20.1333333333pt;" title="17 topics" class="tag-link-8 tag-link-deeppition-3" href="http://uoce.chimpgroup.com/tag/education/">Education</a>
                            <a style="font-size: 22pt;" title="19 topics" class="tag-link-11 tag-link-deeppition-4" href="http://uoce.chimpgroup.com/tag/learn/">Learn</a>
                            <a style="font-size: 17.3333333333pt;" title="15 topics" class="tag-link-9 tag-link-deeppition-5" href="http://uoce.chimpgroup.com/tag/people/">People</a>
                            <a style="font-size: 11.7333333333pt;" title="11 topics" class="tag-link-10 tag-link-deeppition-6" href="http://uoce.chimpgroup.com/tag/skill/">Skill</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</main>

@*<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h2 class="page-title">Governing Body</h2>
        </div> <!-- /.col-md-6 -->
        <div class="col-md-6 col-sm-6 hidden-xs back-home">
            @Html.ActionLink("← Go back Home", "Index", "Home", new { }, null)
        </div> <!-- /.col-md-6 -->
    </div> <!-- /.row -->
</div>
<div class="row">
    <div class="col-md-4">
        <div class="box-content">
            <h4 class="widget-title"><span>Notice</span></h4>
            @{Html.RenderAction("GetAll", "Notice");}
            @Html.ActionLink("More Notice", "GetAllWithGrid", "Notice", new { }, new { @class = "btn btn-default-alt btn-sm pull-right" })
        </div> <!-- /.box-content -->
        <div class="box-content">
            <h4 class="widget-title"><span>Gallery</span></h4>
            @{Html.RenderAction("GetPartialGallery", "Gallery");}
        </div> <!-- /.box-content -->
    </div>
    <div class="col-md-8">
        <div class="box-content">
            <div class="events-sidebar">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li class="event-item">
                            <div class="event-thumb">
                                <img src="/image/GetImage?id=@item.GoverningbodyId &refCode=14&isThumbnail=false" class="attachment-member-thumb">
                            </div>
                            <div class="event-content member-content">
                                <ul class="social pull-right">
                                    <li><a class="fa fa-twitter" href="#"></a></li>
                                    <li><a class="fa fa-facebook" href="#"></a></li>
                                    <li><a class="fa fa-google-plus" href="#"></a></li>
                                </ul>
                                <h5 class="event-title">@item.UserInfo.Name</h5>                                
                                <p class="event-meta">about about</p>

                            </div>
                        </li>
                    }
                </ul>
            </div>            
        </div>
    </div> <!-- /.box-content -->
</div>*@
