@model  pnsms.Entities.Models.Institute
@{
    ViewBag.Title = "Institute Assets";
}
<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h2 class="page-title">Assets</h2>
        </div> <!-- /.col-md-6 -->
        <div class="col-md-6 col-sm-6 hidden-xs back-home">
            @Html.ActionLink("← Go back Home", "Index", "Home", new { }, null)
        </div> <!-- /.col-md-6 -->
    </div> <!-- /.row -->
</div>
<div class="row">
    <div class="col-md-4">
        <div class="box-content">
            <h4 class="widget-title"><span>Notice</span></h4>
            @{Html.RenderAction("GetAll", "Notice");}
            @Html.ActionLink("More Notice", "GetAllWithGrid", "Notice", new { }, new { @class = "btn btn-default-alt btn-sm pull-right" })
        </div> <!-- /.box-content -->
        <div class="box-content">
            <h4 class="widget-title"><span>Gallery</span></h4>
            @{Html.RenderAction("GetPartialGallery", "Gallery");}
        </div> <!-- /.box-content -->
    </div>
    <div class="col-md-8">
        <div class="box-content">
            @MvcHtmlString.Create(@Model.Asset)
        </div> <!-- /.box-content -->
    </div>
</div>
