
@{
    ViewBag.Title = "School Management Automation - Features";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        <strong>Shikkha for All system is designed to serve institution with a single branch to thousand of branches</strong>
    </h2>
    <hr class="divider">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="~/img/structure.png" alt="">
        </div>
        <!-- <div class="col-lg-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolore voluptatem, deleniti dignissimos excepturi veritatis cum hic sunt perferendis ipsum perspiciatis nam officiis sequi atque enim ut! Velit, consectetur.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam pariatur perspiciatis reprehenderit illo et vitae iste provident debitis quos corporis saepe deserunt ad, officia, minima natus molestias assumenda nisi velit?</p>
        </div> -->
    </div>
</div>
<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        <strong>You choose what do you want from SFA system </strong>

    </h2>

    <hr class="divider">
    <p> SFA System comes with hundreds of features and modules. You do not have to subscribe all modules at once. We suggest you try a few of the modules first. When you feel conformable with these, then you may consider adding other features to your system. See below what you can do with SKA system:     </p>
</div>

<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        SFA System
        <strong>Features</strong>
    </h2>
    <hr class="divider">
    <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                <div class="card-body text-center">
                    <h4 class="card-title m-0">
                        Admission
                        <!--  <small class="text-muted">Job Title</small> -->
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                <div class="card-body text-center">
                    <h4 class="card-title m-0">
                        Attendance
                        <!--   <small class="text-muted">Job Title</small> -->
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                <div class="card-body text-center">
                    <h4 class="card-title m-0">
                        Examination
                        <!-- <small class="text-muted">Job Title</small> -->
                    </h4>
                </div>
            </div>
        </div>
        <div class="bg-faded p-4 my-4 col-md-12">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">
                <strong>We measure our success by the achievements of our clients </strong>

            </h2>

            <hr class="divider">
            <!--         <p> SFA System comes with hundreds of features and modules. You do not have to subscribe all modules at once. We suggest you try a few of the modules first. When you feel conformable with these, then you may consider adding other features to your system. See below what you can do with SKA system:     </p>
             -->
        </div>
    </div>
</div>